<div class="card">
    <div class="card-header">
        <h2>{{ 'BALANCE' | translate }}
            <small>
                {{ 'BALANCE_DESCRIPTION' | translate }}
            </small>
        </h2>
        <br/>
        <div class="">
            <span class="h5">{{ 'ACCOUNT_BALANCE' | translate }} </span>
            <span tooltip-html-unsafe="<small>{{ 'CREATED' | translate }}: {{vm.account.created|date:'medium'}}<br/>{{ 'MODIFIED' | translate }}: {{vm.account.created|date:'medium'}}</small>"
                  tooltip-trigger="mouseenter"
                  class="strong text-primary">{{vm.account.balance | currency: vm.account.currency}}</span>
        </div>
    </div>
    <table id="balance-table" ng-if="vm.transactions.length"
           class="table responsive table-hover table-condensed table-vmiddle">
        <thead>
        <tr>
            <th>{{ 'CREATED' | translate }}</th>
            <th>{{ 'DESCRIPTION' | translate }}</th>
            <th>{{ 'AMOUNT' | translate }}</th>
            <th>{{ 'TYPE' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-delete"
            ng-repeat="transaction in vm.transactions | orderBy:'created'"
            ng-class="{ 'selected': vm.selection.id === transaction.id }"
            row-select="vm.selectTransaction(transaction)">
            <td class="transaction-created">{{transaction.created | amDateFormat: 'L LT' }}</td>
            <td class="transaction-description">{{transaction.description}}</td>
            <td class="transaction-amount">{{transaction.amount | currency: transaction.currency }}</td>
            <td ng-class="{'transaction-debit' : transaction.debit, 'transaction-credit' : !transaction.debit}">
                <i class="fa"
                   ng-class="{'fa-minus-square': transaction.debit, 'fa-plus-square' : !transaction.debit}"></i>
                <i ng-if="transaction.unpaid" class="fa fa-question-circle"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="bootgrid-footer container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <pagination max-size="vm.pagination.maxSize" ng-model="vm.pagination.page" ng-change="vm.pageChanged()"
                            total-items="vm.pagination.total" num-pages="vm.pagination.numPages"
                            items-per-page="vm.perPage()"
                            boundary-links="true" rotate="true">
                </pagination>
            </div>
            <div class="col-sm-6 infoBar">
                <pagination-info total-size="vm.pagination.total" current-page-size="vm.transactions.length"
                                 items-per-page="vm.perPage()" page="vm.pagination.page"></pagination-info>
            </div>
        </div>
    </div>
</div>