<form name="organizationForm" role="form" class="form-inline" novalidate ng-submit="vm.add(vm.organization)">
    <div class="form-group">
        <label class="sr-only" for="name">Organization Name</label>
        <input type="text" class="form-control input-sm" id="name" ng-model="vm.organization.name"
               placeholder="Organization Name">
    </div>
    <div class="form-group">
        <label class="sr-only" for="description">Organization Description</label>
        <input type="text" class="form-control input-sm" id="description" ng-model="vm.organization.description"
               placeholder="Description">
    </div>
    <button type="submit" ng-disabled="!vm.organization.name" class="btn btn-primary input-sm">create organization</button>
</form>

<div ng-if="vm.organizations.length > 0" class="card">
    <div class="card-header">
        <h2>Organizations
            <small>This is an admin only screen. Here you can add/view/delete organisations</small>
        </h2>
    </div>
    <table id="admin-organizations" class="table table-hover table-condensed table-vmiddle">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="organization in vm.organizations">
            <td class="row-commands">
                <row-edit action="vm.viewOrganization(organization.id)"></row-edit>
                <row-delete action="vm.remove(organization.id)" ng-if="vm.isAdmin()"></row-delete>
            </td>
            <td ng-click="vm.viewOrganization(organization.id)">{{organization.name}}</td>
            <td class="description" ng-click="vm.viewOrganization(organization.id)">{{organization.description | limitTo: 40}}</td>
            <td class="created" ng-click="vm.viewOrganization(organization.id)">{{organization.created | amDateFormat:'L LT' }}</td>
            <td class="modified" ng-click="vm.viewOrganization(organization.id)">{{organization.modified | amDateFormat:'L LT' }}
            </td>
        </tr>
        </tbody>
    </table>
</div>