<form name="organizationForm" role="form" class="form-inline" ng-if="vm.isAdmin()" novalidate ng-submit="vm.add(vm.organization)">
    <div class="form-group">
        <label class="sr-only" for="name">{{ 'ORGANIZATION_NAME' | translate }}</label>
        <input type="text" class="form-control input-sm" id="name" ng-model="vm.organization.name"
               placeholder="{{ 'NAME' | translate }}">
    </div>
    <div class="form-group">
        <label class="sr-only" for="description">{{ 'ORGANIZATION_DESCRIPTION' | translate }}</label>
        <input type="text" class="form-control input-sm" id="description" ng-model="vm.organization.description"
               placeholder="{{ 'DESCRIPTION' | translate }}">
    </div>
    <button type="submit" ng-disabled="!vm.organization.name" class="btn btn-primary input-sm">{{ 'CREATE_ORGANIZATION'
        | translate }}
    </button>
</form>

<div ng-if="vm.organizations.length > 0" class="card">
    <div class="card-header">
        <h2>{{ 'ORGANIZATIONS' | translate }}
            <small>{{ 'ADD_EDIT_DELETE_ORGNAIZATIONS' | translate }}</small>
        </h2>
    </div>
    <table id="admin-organizations" class="table responsive table-hover table-condensed table-vmiddle">
        <thead>
        <tr>
            <th></th>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'DESCRIPTION' | translate }}</th>
            <th>{{ 'CREATED' | translate }}</th>
            <th>{{ 'UPDATED' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="organization in vm.organizations"
            ng-class="{ 'selected': vm.selection.id === organization.id }"
            ng-click="vm.selectOrganization(organization)">
            <td class="row-commands">
                <row-edit action="vm.viewOrganization(organization.id)"></row-edit>
                <row-delete action="vm.remove(organization.id)" ng-if="vm.isAdmin()"></row-delete>
            </td>
            <td class="name">{{organization.name}}</td>
            <td class="description">{{organization.description | limitTo: 40}}</td>
            <td class="created">{{organization.created | amDateFormat:'L LT' }}</td>
            <td class="modified">{{organization.modified | amDateFormat:'L LT' }}
            </td>
        </tr>
        </tbody>
    </table>
</div>