<div ng-if="!vm.auth.isAuthenticated()">
    <div class="card">
        <div class="card-header">
            <h2>Authentication
                <small>Sign in or Create Account to continue with your checkout</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Sign In
                        <small>Sign in with already created Jasify account</small>
                    </h2>
                </div>
                <div class="card-body card-padding-sm">
                    <div ng-controller="SignInController as vm"
                         ng-include="'authenticate/sign-in.html'"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Create Account
                        <small>If you do not have a Jasify account, create it</small>
                    </h2>
                </div>
                <div class="card-body card-padding-sm">
                    <div ng-controller="CreateAccountController as vm"
                         ng-init="vm.onCreated = vm.accountCreated"
                         ng-include="'authenticate/create-account.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.auth.isAuthenticated()">
    <div class="card">
        <div class="card-body card-padding-sm card-with-icon">
            <i class="md mdi mdi-info-outline"></i>
            Please wait while your shopping cart is being processed...
        </div>
    </div>
</div>
