<div class="row">
    <div class="col-sm-12">
        <form name="usersForm" role="form" class="form-inline" novalidate>
            <div class="form-group"><span class="form-control-static">search: </span></div>
            <div class="form-group">
                <label class="sr-only" for="searchBy">search by:</label>
                <select id="searchBy" class="form-control input-sm" name="searchBy" ng-model="searchBy">
                    <option>name</option>
                    <option>email</option>
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="query">query</label>
                <input id="query" type="text" class="form-control input-sm" placeholder="query"
                       ng-model="query" name="query" ng-model-options="{debounce:500}" ng-change="pageChanged()">
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input id="perPage" name="perPage" pattern="^[1-9][0-9]*$" type="text"
                           class="form-control text-right" size="2"
                           ng-model="perPage" ng-model-options="{debounce:500, getterSetter: true}">

                    <div class="input-group-addon">/page</div>
                </div>
            </div>
            <div class="form-group">
                <pagination class="pagination-sm" max-size="maxSize" ng-model="page" ng-change="pageChanged()"
                            previous-text="&lt;" next-text="&gt;" first-text="&laquo;" last-text="&raquo;"
                            total-items="total" num-pages="numPages" items-per-page="_perPage"
                            boundary-links="true" rotate="true"></pagination>
            </div>
        </form>
    </div>
    <div class="col-sm-12">
        <span ng-hide="users.length" us-spinner=""></span>

        <div class="table-responsive">
            <table class="table table-hover" ng-show="users.length">
                <thead>
                <tr>
                    <th>#</th>
                    <th>name</th>
                    <th>email</th>
                    <th>created</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>