<div class="row">
    <div class="col-sm-1">
        <a href="#/admin/organizations"><span class="glyphicon glyphicon-arrow-left"></span> back</a>
    </div>
    <div class="col-sm-10">
        <alert ng-repeat="a in vm.alerts" type="{{a.type}}" close="vm.alerts.splice($index, 1)">{{a.msg}}</alert>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <form class="form-horizontal" role="form" name="vm.organizationForm" novalidate>
            <fieldset>
                <legend class="h4">Organization details</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label input-sm">name:</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm" id="name" name="name"
                               ng-model="vm.organization.name"
                               placeholder="name">
                    </div>
                </div>
                <div class="form-group">
                    <label fo="description" class="col-sm-2 control-label input-sm">description:</label>

                    <div class="col-sm-8">
                    <textarea class="form-control input-sm"
                              id="description"
                              ng-model="vm.organization.description"
                              placeholder="description"
                              rows="3" maxlength="255"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="button"
                                ng-click="vm.save()"
                                ng-disabled="!vm.organizationForm.$dirty || vm.organizationForm.$invalid"
                                class="btn btn-default btn-sm btn-primary"><span
                                class="glyphicon glyphicon-save"></span>
                            save
                        </button>
                        <button type="button"
                                ng-click="vm.reset()" ng-disabled="!vm.organizationForm.$dirty"
                                class="btn btn-default btn-sm"><span class="glyphicon glyphicon-open"></span>
                            reset
                        </button>
                        <span ng-show="vm.loading" us-spinner=""></span>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">Activity Types</th>
                    <th class="text-right">
                        <a tooltip="add" ng-click="vm.addActivityType(vm.organization)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="activityType in vm.activityTypes">
                    <td>{{activityType.name}}</td>
                    <td>{{activityType.description | limitTo: 45}}</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-danger btn-xs"
                                ng-click="vm.removeActivityType(activityType.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-3">
        <script type="text/ng-template" id="orgUsers.html">
            <a>
                        <span ng-show="match.model.name"
                              bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
                        <span ng-show="match.model.email"
                              bind-html-unsafe="match.model.email | typeaheadHighlight:query"></span>
                <small ng-show="match.model.realName"
                       bind-html-unsafe="match.model.realName | typeaheadHighlight:query"></small>
            </a>
        </script>
        <form class="form col-md-12" role="form" name="vm.usersForm" novalidate>
            <fieldset>
                <legend class="h4">Users</legend>
                <div class="form-group">
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="user">select user to add</label>
                            <input type="text" class="form-control input-sm" id="user" name="user"
                                   typeahead="user as vm.displayUser(user) for user in vm.searchUsers($viewValue)"
                                   typeahead-template-url="orgUsers.html"
                                   ng-model="vm.user"
                                   placeholder="search user to add"/>
                        </div>
                        <button ng-disabled="!vm.user.id" class="btn btn-sm btn-primary" ng-click="vm.addUser(vm.user)">
                            add
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <select ng-model="vm.selectedUsers" multiple class="form-control"
                            ng-options="user as vm.displayUser(user) for user in vm.users">
                    </select>
                </div>
                <button ng-disabled="vm.selectedUsers.length == 0"
                        ng-click="vm.removeUser(vm.selectedUsers)"
                        class="btn btn-sm btn-danger">
                    remove <span ng-show="vm.selectedUsers.length > 0">({{vm.selectedUsers.length}} users)</span>
                </button>
            </fieldset>
        </form>
    </div>
    <div class="col-sm-3">
        <form class="form col-md-12" role="form" name="vm.groupsForm" novalidate>
            <fieldset>
                <legend class="h4">Groups</legend>
                <div class="form-group">
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="group">select group to add</label>
                            <input type="text" id="group" class="form-control input-sm" name="group"
                                   typeahead="group as group.name for group in vm.searchGroups($viewValue)"
                                   ng-model="vm.group"
                                   placeholder="search group to add"/>
                        </div>
                        <button ng-disabled="!vm.group.id" class="btn btn-sm btn-primary"
                                ng-click="vm.addGroup(vm.group)">
                            add
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <select ng-model="vm.selectedGroups" multiple class="form-control"
                            ng-options="group as group.name for group in vm.groups">
                    </select>
                </div>
                <button ng-disabled="vm.selectedGroups.length == 0"
                        ng-click="vm.removeGroup(vm.selectedGroups)"
                        class="btn btn-sm btn-danger">
                    remove <span ng-show="vm.selectedGroups.length > 0">({{vm.selectedGroups.length}} groups)</span>
                </button>
            </fieldset>
        </form>
    </div>
</div>