<style>
    /* ========================================================================================
       TODO: Move this to application.less after dragonflypl tells us how that should look like
       And these should be using the bootstrap variables
       ======================================================================================== */
    .activity-list-item {
        padding: 5px;
        margin: 5px 0;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
    }

    .activity-list-item-selected {
        border-left-color: #6d96d0;
    }

    .activity-list-item-danger {
        border-left-color: #ce4844;
    }

    .activity-list-item-available {
        border-left-color: #19631f;
    }

    .col-align-right {
        text-align: right;
    }
</style>
<div class="card">
    <div class="card-header" ng-if="!vm.activityPackage.id">
        <a class="back-button" href="#/admin/activity-packages">
            <button title="Back" class="btn btn-info btn-icon"><i class="md mdi-undo"></i></button>
        </a>

        <h2>New Activity Package
            <small>TODO</small>
        </h2>
    </div>
    <div class="card-body card-padding-sm">
        <form novalidate name="vm.activityPackageForm" class="form-horizontal" role="form"
              ng-submit="vm.activityPackageForm.$valid && vm.save(vm.activityPackage)">
            <div class="actions-group">
                <a-button type="submit" controller="vm.saveBtn"></a-button>
                <a-button type="reset" ng-click="vm.reset()" controller="vm.resetBtn"></a-button>
            </div>

            <div jas-has-feedback class="form-group">
                <label for="name" class="col-sm-2 control-label">Name:</label>

                <div class="col-sm-4">
                    <div class="fg-line">
                        <input placeholder="Enter name" ng-model="vm.activityPackage.name" type="text"
                               class="form-control" id="name" name="name" required/>
                    </div>
                    <jas-feedback-icon-valid field="vm.activityPackageForm.name"></jas-feedback-icon-valid>
                    <jas-feedback-icon-invalid field="vm.activityPackageForm.name"
                                               form="vm.activityPackageForm"></jas-feedback-icon-invalid>
                    <jas-error-help-block field="vm.activityPackageForm.name" form="vm.activityPackageForm">
                        <span ng-message="required">Name is required.</span>
                    </jas-error-help-block>
                </div>
            </div>
            <div jas-has-feedback class="form-group">
                <label for="description" class="col-sm-2 control-label">Description:</label>

                <div class="col-sm-4">
                    <div class="fg-line">
                        <textarea ng-model="vm.activityPackage.description"
                                  id="description" name="description"
                                  required
                                  class="form-control" rows="3" placeholder="Enter description">
                        </textarea>
                    </div>
                    <jas-feedback-icon-valid field="vm.activityPackageForm.description"></jas-feedback-icon-valid>
                    <jas-feedback-icon-invalid field="vm.activityPackageForm.description"
                                               form="vm.activityPackageForm"></jas-feedback-icon-invalid>
                    <jas-error-help-block field="vm.activityPackageForm.description" form="vm.activityPackageForm">
                        <span ng-message="required">Description is required.</span>
                    </jas-error-help-block>
                </div>
            </div>
            <div jas-has-feedback class="form-group">
                <label for="price" class="col-sm-2 control-label">Price:</label>

                <div class="col-sm-4">
                    <div class="fg-line">
                        <input id="price" name="price" type="number" min="0" max="10000" class="form-control"
                               ng-model="vm.activityPackage.price" required placeholder="Enter price"
                               ng-change="vm.activityPackage.currency='CHF'"/>
                    </div>
                    <jas-feedback-icon-valid field="vm.activityPackageForm.price"></jas-feedback-icon-valid>
                    <jas-feedback-icon-invalid field="vm.activityPackageForm.price"
                                               form="vm.activityPackageForm"></jas-feedback-icon-invalid>
                    <jas-error-help-block field="vm.activityPackageForm.price" form="vm.activityPackageForm">
                        <span ng-message="required">Price is required.</span>
                        <span ng-message="number">Invalid number.</span>
                        <span ng-message="min">Value must be greater than 0.</span>
                        <span ng-message="max">Value must be smaller than 10000.</span>
                    </jas-error-help-block>
                </div>
            </div>
            <div jas-has-feedback class="form-group">
                <label for="currency" class="col-sm-2 control-label">Currency:</label>

                <div class="col-sm-4">
                    <div class="fg-line">
                        <div class="select">
                            <select ng-model="vm.activityPackage.currency" name="currency" id="currency" required
                                    class="form-control">
                                <option>CHF</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div jas-has-feedback class="form-group">
                <label for="itemCount" class="col-sm-2 control-label"
                       tooltip="Number of activities a client can subscribe to">Item Count:</label>

                <div class="col-sm-4">
                    <div class="fg-line">
                        <input id="itemCount" name="itemCount" type="number"
                               min="0" max="100" class="form-control" placeholder="Enter Item Count"
                               ng-model="vm.activityPackage.itemCount" required/>
                    </div>
                    <jas-feedback-icon-valid field="vm.activityPackageForm.itemCount"></jas-feedback-icon-valid>
                    <jas-feedback-icon-invalid field="vm.activityPackageForm.itemCount"
                                               form="vm.activityPackageForm"></jas-feedback-icon-invalid>
                    <jas-error-help-block field="vm.activityPackageForm.itemCount" form="vm.activityPackageForm">
                        <span ng-message="required">Item Count is required.</span>
                        <span ng-message="number">Invalid number.</span>
                        <span ng-message="min">Value must be greater than 0.</span>
                        <span ng-message="max">Value must be smaller than 100.</span>
                    </jas-error-help-block>
                </div>
            </div>
            <div jas-has-feedback class="form-group">
                <label class="control-label col-sm-2" for="organization">Organization:</label>

                <div class="col-sm-4">
                    <div class="fg-line">
                        <div class="select">
                            <select id="organization" name="organization" class="form-control"
                                    ng-model="vm.organization" required
                                    ng-disabled="vm.activityPackage.id"
                                    ng-options="organization as organization.name for organization in vm.organizations"
                                    ng-change="vm.onOrganizationSelected(vm.organization)">
                            </select>
                        </div>
                    </div>
                    <jas-feedback-icon-valid field="vm.activityPackageForm.organization"></jas-feedback-icon-valid>
                    <jas-feedback-icon-invalid field="vm.activityPackageForm.organization"
                                               form="vm.activityPackageForm"></jas-feedback-icon-invalid>
                    <jas-error-help-block field="vm.activityPackageForm.organization" form="vm.activityPackageForm">
                        <span ng-message="required">Organization is required.</span>
                    </jas-error-help-block>
                </div>
            </div>
            <div id="activity-selection-lists" class="row">
                <div class="col-xs-6">
                    <div class="listview lv-bordered">
                        <div class="lv-header bgm-bluegray c-white">
                            Available Activities:
                        </div>
                        <div class="lv-body">
                            <div class="lv-item media" ng-repeat="activity in vm.activities | filter:vm.filterSelected">
                                <div class="media-body">
                                    <div>
                                        <div class="lv-title">
                                            <button type="button" ng-click="vm.selectActivity(activity)"
                                                    class="btn btn-primary waves-effect grow-on-small">
                                                <i class="mdi mdi-add-circle">&nbsp; Add <span class="hidden-xs">{{activity.activityType.name}}</span></i>
                                            </button>
                                        </div>
                                        <ul class="lv-attrs">
                                            <li class="visible-xs-inline-block">{{activity.activityType.name}}</li>
                                            <li>{{[activity.start, activity.finish] | tableShortDateTime}}</li>
                                            <li>Price: {{activity.price}} {{activity.currency}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="listview lv-bordered">
                        <div class="lv-header bgm-bluegray c-white">
                            Activities in Package:
                        </div>
                        <div class="lv-body">
                            <div class="lv-item media" ng-repeat="activity in vm.selectedActivities">
                                <div class="media-body">
                                    <div>
                                        <div class="lv-title">
                                            <button type="button" ng-click="vm.deselectActivity(activity.id)"
                                                    class="btn btn-warning waves-effect grow-on-small">
                                                <i class="mdi mdi-remove-circle">&nbsp; Remove <span class="hidden-xs">{{activity.activityType.name}}</span></i>
                                            </button>
                                        </div>
                                        <ul class="lv-attrs">
                                            <li class="visible-xs-inline-block">{{activity.activityType.name}}</li>
                                            <li>{{[activity.start, activity.finish] | tableShortDateTime}}</li>
                                            <li>Price: {{activity.price}} {{activity.currency}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>