<div ng-if="vm.organizations.length > 0" class="card">
    <div class="card-header">
        <h2>{{ 'ACTIVITY_PACKAGES' | translate }}
            <small>
                {{ 'ADD_EDIT_DELETE_ACTIVITY_PACKAGED' | translate }}
            </small>
        </h2>
    </div>
    <div class="card-body card-padding-sm">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="organization" class="col-sm-2 control-label">{{ 'ORGANIZATION' | translate }}</label>
                <div class="col-sm-4">
                    <div class="fg-line">
                        <div class="select">
                            <select id="organization" class="form-control"
                                    ng-model="vm.organization"
                                    ng-options="organization as organization.name for organization in vm.organizations"
                                    ng-change="vm.organizationSelected(vm.organization)">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="admin-activity-packages-table" ng-if="vm.activityPackages.length > 0" class="table table-hover table-condensed table-vmiddle">
        <thead>
        <tr>
            <th class="row-commands">
                <row-add action="vm.addActivityPackage()" description="Add Activity Package" />
            </th>
            <th>{{ 'ID' | translate }}</th>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'PRICE' | translate }}</th>
            <th><span tooltip="How many subscriptions are allowed">{{ 'NUMBER_OF_ITEMS' | translate }}</span></th>
            <th><span tooltip="How many activities are inclded">{{ 'NUMBER_OF_ACTIVITIES' | translate }}</span></th>
            <th><span tooltip="How many times was this bought">{{ 'SUBSCRIPTIONS' | translate }}</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="activityPackage in vm.activityPackages">
            <td class="row-commands">
                <row-edit action="vm.viewActivityPackage(activityPackage.id)"></row-edit>
                <row-delete action="vm.remove(activityPackage.id)"></row-delete>
            </td>
            <td>{{activityPackage.id}}</td>
            <td class="package-name">{{activityPackage.name}}</td>
            <td>
                {{activityPackage.price | currency:activityPackage.currency}}
            </td>
            <td>
                {{activityPackage.itemCount}}
            </td>
            <td>
                {{activityPackage.activityCount}}
            </td>
            <td>
                {{activityPackage.executionCount || 0}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="card" ng-if="vm.organizations.length > 0 && vm.activityPackages.length === 0">
    <div class="card-padding card-body text-center">
        <p translate="NO_ACTIVITY_PACKAGES_DEFINED_FOR_X"
           translate-values="{organization: '{{vm.organization.name}}'}"></p>
        <button ng-click="vm.addActivityPackage()" class="btn btn-primary waves-effect">{{ 'CREATE_ACTIVITY_PACKAGE' |
            translate }}
        </button>
    </div>
</div>
<div class="card" ng-if="vm.organizations.length === 0">
    <div class="card-padding card-body text-center">
        <p>{{ 'CREATE_ORGANIZATION_TYPE_BEFORE_ACTIVITY_PACKAGE' | translate }}</p>
        <button btn-href="admin/organizations" class="btn btn-primary waves-effect">{{ 'CREATE_ORGANIZATION' | translate
            }}
        </button>
    </div>
</div>
