<div class="row">
    <div class="col-sm-1">
        <a ng-click="vm.back()"><span class="glyphicon glyphicon-arrow-left"></span> back</a>
    </div>
    <div class="col-sm-4">
        <form class="form-horizontal" role="form" name="vm.organizationForm" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-4" for="organization">Organization:</label>

                <div class="col-sm-7">
                    <select ng-model="vm.organization" id="organization" class="form-control"
                            ng-options="organization as organization.name for organization in vm.organizations"
                            ng-change="vm.loadActivityTypes(vm.organization)">
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-7">
        <alert ng-repeat="a in vm.alerts" type="{{a.type}}" close="vm.alerts.splice($index, 1)">{{a.msg}}</alert>
    </div>
</div>
