<div class="card">
    <div class="card-header">
        <h2>Activity Packages
            <small>
                Group your Activities with Activity Packages.
            </small>
        </h2>
    </div>
    <div class="card-body card-padding-sm">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="organization" class="col-sm-2 control-label">Organization:</label>
                <div class="col-sm-4">
                    <div class="fg-line">
                        <div class="select">
                            <select id="organization" class="form-control"
                                    ng-model="vm.organization"
                                    ng-options="organization as organization.name for organization in vm.organizations"
                                    ng-change="vm.organizationSelected(vm.organization)">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-6">
        <alert ng-repeat="a in vm.alerts" type="{{a.type}}" close="vm.alerts.splice($index, 1)">{{a.msg}}</alert>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <a ng-click="vm.addActivityPackage()" tooltip="Create new activity package">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </th>
                <th>name</th>
                <th>price</th>
                <th><span tooltip="How many subscriptions are allowed">#items</span></th>
                <th><span tooltip="How many activities are inclded">#activities</span></th>
                <th><span tooltip="How many times was this bought">executions</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="activityPackage in vm.activityPackages">
                <td>{{activityPackage.id}}</td>
                <td ng-click="vm.viewActivityPackage(activityPackage.id)">{{activityPackage.name}}</td>
                <td ng-click="vm.viewActivityPackage(activityPackage.id)">
                    {{activityPackage.price | currency:activityPackage.currency}}
                </td>
                <td ng-click="vm.viewActivityPackage(activityPackage.id)">
                    {{activityPackage.itemCount}}
                </td>
                <td ng-click="vm.viewActivityPackage(activityPackage.id)">
                    {{activityPackage.activityCount}}
                </td>
                <td ng-click="vm.viewActivityPackage(activityPackage.id)">
                    {{activityPackage.executions || 0}}
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs"
                            ng-disabled="activityPackage.executions > 0"
                            ng-click="vm.remove(activityPackage.id)"><span
                            class="glyphicon glyphicon-remove" tooltip="Delete"></span>
                    </button>
                </td>
            </tr>
            <tr ng-if="vm.activityPackages.length == 0">
                <td colspan="8">No activity packages...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>