<div ng-if="vm.organizations.length > 0" class="card">
    <div class="card-header">
        <h2>Activity Packages
            <small>
                Group multiple activities into one activity package. You can add new activity packages or edit/delete existing packages as long as there are no subscribers
            </small>
        </h2>
    </div>
    <div class="card-body card-padding-sm">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="organization" class="col-sm-2 control-label">Organization:</label>
                <div class="col-sm-4">
                    <div class="fg-line">
                        <div class="select">
                            <select id="organization" class="form-control"
                                    ng-model="vm.organization"
                                    ng-options="organization as organization.name for organization in vm.organizations"
                                    ng-change="vm.organizationSelected(vm.organization)">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="admin-activity-packages-table" ng-if="vm.activityPackages.length > 0" class="table table-hover table-condensed table-vmiddle">
        <thead>
        <tr>
            <th class="row-commands">
                <row-add ng-click="vm.addActivityPackage()" description="Add Activity Package" />
            </th>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th><span tooltip="How many subscriptions are allowed">No. items</span></th>
            <th><span tooltip="How many activities are inclded">No. activities</span></th>
            <th><span tooltip="How many times was this bought">Executions</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="activityPackage in vm.activityPackages">
            <td class="row-commands">
                <row-edit action="vm.viewActivityPackage(activityPackage.id)"></row-edit>
                <row-delete action="vm.remove(activityPackage.id)"></row-delete>
            </td>
            <td>{{activityPackage.id}}</td>
            <td class="package-name">{{activityPackage.name}}</td>
            <td>
                {{activityPackage.price | currency:activityPackage.currency}}
            </td>
            <td>
                {{activityPackage.itemCount}}
            </td>
            <td>
                {{activityPackage.activityCount}}
            </td>
            <td>
                {{activityPackage.executionCount || 0}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="card" ng-if="vm.organizations.length > 0 && vm.activityPackages.length === 0">
    <div class="card-padding card-body text-center">
        <p>No Activity Packages are defined for {{vm.organization.name}}.</p>
        <button ng-click="vm.addActivityPackage()" class="btn btn-primary waves-effect">Create Activity Package</button>
    </div>
</div>
<div class="card" ng-if="vm.organizations.length === 0">
    <div class="card-padding card-body text-center">
        <p>Before creating Activity Package you need to create Organization.</p>
        <button btn-href="admin/organizations" class="btn btn-primary waves-effect">Create Organization</button>
    </div>
</div>
