<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <listener>
        <listener-class>com.jasify.schedule.appengine.http.JasifyServletContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>user-context</filter-name>
        <filter-class>com.jasify.schedule.appengine.http.filter.UserContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>user-context</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- BEGIN: appstats -->
    <filter>
        <filter-name>appstats</filter-name>
        <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>appstats</servlet-name>
        <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>appstats</servlet-name>
        <url-pattern>/appstats/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>appstats</web-resource-name>
            <url-pattern>/appstats/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- END: appstats -->

    <!-- BEGIN: Google Cloud Endpoints -->
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>
                com.jasify.schedule.appengine.spi.AuthEndpoint,
                com.jasify.schedule.appengine.spi.ActivityEndpoint,
                com.jasify.schedule.appengine.spi.GroupEndpoint,
                com.jasify.schedule.appengine.spi.HistoryEndpoint,
                com.jasify.schedule.appengine.spi.JasifyEndpoint,
                com.jasify.schedule.appengine.spi.OrganizationEndpoint,
                com.jasify.schedule.appengine.spi.UserEndpoint,
                com.jasify.schedule.appengine.spi.UserLoginEndpoint,
                com.jasify.schedule.appengine.spi.BalanceEndpoint,
                com.jasify.schedule.appengine.spi.PaymentEndpoint,
                com.jasify.schedule.appengine.spi.ShoppingCartEndpoint,
                com.jasify.schedule.appengine.spi.UniqueEndpoint
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <!-- END: Google Cloud Endpoints -->

    <servlet>
        <servlet-name>oauth2-callback</servlet-name>
        <servlet-class>com.jasify.schedule.appengine.http.servlet.OAuth2CodeCallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oauth2-callback</servlet-name>
        <url-pattern>/oauth2/callback/*</url-pattern>
    </servlet-mapping>

    <!-- BEGIN: Attachment download servlet -->
    <servlet>
        <servlet-name>attachment</servlet-name>
        <servlet-class>com.jasify.schedule.appengine.http.servlet.AttachmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>attachment</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attachment</servlet-name>
        <url-pattern>/download/*</url-pattern>
    </servlet-mapping>
    <!-- END: Attachment download servlet -->

    <!-- BEGIN: Incoming mail handling -->
    <servlet>
        <servlet-name>mail</servlet-name>
        <servlet-class>com.jasify.schedule.appengine.http.servlet.MailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mail</servlet-name>
        <url-pattern>/_ah/mail/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>mail</web-resource-name>
            <url-pattern>/_ah/mail/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- END: Incoming mail handling -->
    <!-- BEGIN: Force https -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <!-- END: Force https -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
