#set($title="Invoice Payment Created")
#@htmlMail($title)
    #@box($title)
    <p #style("p")>Dear $mut.name($user),</p>
    <p #style("p")>
        You made a reservation using payment method "Invoice".
        We have attached the invoice in this e-mail.
    </p>
    <p #style("p")>Thanks for booking with Jasify!</p>
        #invoicePaymentDetails($payment)
    <br/>
        #subscriptionDetails($subscriptions, $executions)
    #end
#end