#set($title="Password assistance '$mut.name($user)'")
#@htmlMail($title)
    #@box($title)
    <p><b>Dear $mut.name($user),</b></p>

    <p>
        To recover your password, click on
        <a href="$mut.url($recovery)">this link</a> and set a new password.
    </p>
    <p>Your code: $recovery.Code.Name</p>
    <p><i>If the link above doesn't work, paste the following in your browser: </i>
        $mut.url($recovery)
    </p>
    <p>
        Cheers,<br/>
        Jasify
    </p>
    #end
#end