#set($title="Password assistance '$mut.name($user)'")
#@textMail($title)

Dear $mut.name($user),

To recover your password, go to: $mut.url($recovery)
and set a new password.
Your code: $recovery.Code.Name

Cheers,
Jasify
#end