<div class="modal">
    <form role="form" name="passwordForm" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                    <span class="glyphicon glyphicon-user"></span>
                    <span>#{{user.id}} {{user.name}}'s password</span>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="password">password:</label>
                        <input id="password" name="password" ng-model="password" type="password"
                               class="form-control input-sm"
                               placeholder="password"
                               pattern="^...." required autofocus>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$hide()">
                        <span class="glyphicon glyphicon-remove"></span>
                        cancel
                    </button>
                    <button type="button" class="btn btn-default btn-primary"
                            ng-disabled="!passwordForm.$dirty || passwordForm.$invalid" style="" ng-click="setPassword()">
                        <span class="glyphicon glyphicon-save"></span>
                        set password
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>