<div class="row">
    <div class="col-md-2 col-md-offset-7">
        <button ng-disabled="vm.isEmpty() || vm.inProgress || vm.redirecting" ng-click="vm.createPayment()" class="btn btn-primary btn-block">
            Continue to PayPal
        </button>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <span ng-show="vm.inProgress || vm.redirecting" us-spinner="{radius:30, width:8, length: 16}"></span>
        <table class="table checkout-table">
            <thead>
            <tr class="checkout-title">
                <th class="h3">Your Shopping Cart</th>
            </tr>
            <tr>
                <td align="center">
                    <table ng-if="!vm.isEmpty()" class="checkout-items">
                        <thead>
                        <tr class="checkout-header">
                            <th class="checkout-description-header">Description</th>
                            <th class="checkout-units-header">Units</th>
                            <th class="checkout-price-header">Price ({{vm.cart.currency}})</th>
                            <th class="checkout-buttons-header">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.cart.items">
                            <td class="checkout-description">{{item.description}}</td>
                            <td class="checkout-units">{{item.units}}</td>
                            <td class="checkout-price">
                                <nobr>{{item.price | number: 2}}&nbsp;</nobr>
                            </td>
                            <td class="checkout-buttons">
                                <a class="checkout-remove-item" ng-click="vm.removeItem(item)">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="checkout-header">
                            <th>Total</th>
                            <th></th>
                            <th class="checkout-price">
                                <nobr>{{vm.cart.total|number: 2}}</nobr>
                            </th>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                Handling Fee
                                <sup>
                                    <span class="text-info ion-information-circled"
                                          tooltip-html-unsafe="<nobr>For PayPal payments there</nobr> is a handling fee of <b>0.35%</b> plus <b><nobr>CHF 0.55</nobr></b>.">
                                </span>
                                </sup>
                            </td>
                            <td></td>
                            <td class="checkout-price">
                                <nobr>{{vm.cart.grandTotal-vm.cart.total|number: 2}}</nobr>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="checkout-grand-total h4">
                            <th>Grand Total</th>
                            <th></th>
                            <th class="checkout-price">
                                <nobr>{{vm.cart.currency}} {{vm.cart.grandTotal|number: 2}}</nobr>
                            </th>
                            <td>&nbsp;</td>
                        </tr>
                        </tfoot>
                    </table>
                    <h3 ng-if="vm.isEmpty()" class="text-danger"><span class="ion-information-circled"></span> There are
                        no items in your cart</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- PayPal Logo -->
                    <table border="0" cellpadding="10" cellspacing="0" align="center">
                        <tr>
                            <td align="center"></td>
                        </tr>
                        <tr>
                            <td align="center"><a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup"
                                                  title="How PayPal Works"
                                                  onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img
                                    src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"
                                    border="0" alt="PayPal Acceptance Mark"></a></td>
                        </tr>
                    </table>
                    <!-- PayPal Logo -->
                </td>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-2 col-md-offset-7">
        <button ng-disabled="vm.isEmpty() || vm.inProgress" ng-click="vm.createPayment()" class="btn btn-primary btn-block">
            Continue to PayPal
        </button>
    </div>
</div>