<script type="text/ng-template" id="checkoutButton.html">
    <button ng-disabled="vm.inProgress || vm.isEmpty() || !vm.paymentType.enabled"
            ng-click="vm.createPayment()"
            class="btn btn-primary grow-on-small pull-right m-b-5 m-t-5">
        {{vm.paymentButtonText}}
    </button>
    <button ng-disabled="vm.inProgress"
            class="btn grow-on-small btn-default pull-right m-r-10 m-b-5 m-t-5" ng-show="vm.cancel"
            btn-href="{{vm.cancel}}">
        Cancel
    </button>
</script>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <alert ng-repeat="a in vm.alerts" type="{{a.type}}" close="vm.alerts.splice($index, 1)">{{a.msg}}</alert>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <span ng-show="vm.inProgress" us-spinner="{radius:30, width:8, length: 16}"></span>
        <ng-include src="'checkoutButton.html'"></ng-include>
        <table class="table checkout-table">
            <thead>
            <tr class="checkout-title">
                <th class="h3">Your Shopping Cart</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <table ng-if="!vm.isEmpty()" class="checkout-items" align="left" style="width:100%">
                        <thead>
                            <tr class="checkout-header">
                                <th class="checkout-description-header">Description</th>
                                <th class="checkout-units-header" style="text-align:right">Units</th>
                                <th class="checkout-price-header" style="text-align:right">Price</th>
                                <th class="checkout-buttons-header"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.cart.items">
                                <td class="checkout-description">{{item.description}}</td>
                                <td class="checkout-units" align="right">{{item.units}}</td>
                                <td class="checkout-price" align="right">{{item.price | number: 2}}</td>
                                <td class="checkout-buttons"><a class="checkout-remove-item" ng-click="vm.removeItem(item)"><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="checkout-header h6">
                                <td>Total before Fee</td>
                                <td></td>
                                <td class="checkout-price" align="right">{{vm.cart.total|number: 2}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Handling Fee</td>
                                <td></td>
                                <td class="checkout-price" align="right">{{vm.paymentType.fee|number: 2}}</td>
                                <td></td>
                            </tr>
                            <tr class="checkout-total h4">
                                <td>Order Total</td>
                                <td></td>
                                <td class="checkout-price" align="right">{{vm.cart.total + vm.paymentType.fee|number: 2}}</td>
                                <td>{{vm.cart.currency}}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <h3 ng-if="vm.isEmpty()" class="text-danger"><span class="ion-information-circled"></span> There are
                        no items in your cart</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <form class="form-inline" name="PaymentTypeForm">
                        <div class="form-group form-group-sm">
                            <label for="paymentType" class="small">Payment Method</label>

                            <table ng-if="!vm.isEmpty()" class="checkout-items" align="left" style="width:100%">
                                <thead>
                                <tr class="paymentOption-header">
                                    <th class="paymentOption-selection-header"></th>
                                    <th class="paymentOption-feeReason-header"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="paymentOption in vm.paymentTypes" id="paymentType">
                                    <td class="paymentOption-selection" style="white-space: nowrap"><label><input type="radio" ng-value="paymentOption" ng-model="vm.paymentType" ng-disabled="!paymentOption.enabled"/> {{paymentOption.label}}</label></td>
                                    <td class="paymentOption-feeReason" align="left" ng-if="paymentOption.enabled">{{paymentOption.feeReason}}</td>
                                    <td class="paymentOption-feeReason" align="left" ng-if="!paymentOption.enabled">{{paymentOption.disabledReason}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr ng-if="vm.paymentType.id == 'PayPal'">
                <td>
                    <!-- PayPal Logo -->
                    <table border="0" cellpadding="10" cellspacing="0" align="center">
                        <tr>
                            <td align="center"></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup"
                                   title="How PayPal Works"
                                   onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                                    <img class="paypal-logo"
                                         src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"
                                         border="0"
                                         alt="PayPal Acceptance Mark">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!-- PayPal Logo -->
                </td>
            </tr>
            <tr ng-if="vm.paymentType.id == 'Invoice'">
                <td>
                    <!-- Invoice Logo -->
                    <table border="0" cellpadding="10" cellspacing="0" align="center">
                        <tr>
                            <td align="center"></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <img src="build/img/invoice-icon.png"
                                     border="0"
                                     alt="Electronic Invoice (Orange Inpayment Slip)">
                            </td>
                        </tr>
                    </table>
                    <!-- Invoice Logo -->
                </td>
            </tr>
            </tfoot>
        </table>
        <ng-include src="'checkoutButton.html'"></ng-include>
    </div>
</div>