<script type="text/ng-template" id="checkoutButton.html">
    <button ng-if="vm.paymentType == 'PayPal'" ng-disabled="vm.isEmpty() || vm.inProgress || vm.redirecting"
            ng-click="vm.createPayment()"
            class="btn btn-primary grow-on-small pull-right m-b-5 m-t-5">
        Continue to PayPal
    </button>
    <button ng-if="vm.paymentType == 'Cash'" ng-disabled="vm.isEmpty() || vm.inProgress || vm.redirecting"
            ng-click="vm.createPayment()"
            class="btn btn-primary grow-on-small pull-right m-b-5 m-t-5">
        Continue and pay later
    </button>
    <button class="btn grow-on-small btn-default pull-right m-r-10 m-b-5 m-t-5" ng-show="vm.cancel" btn-href="{{vm.cancel}}">
        Cancel
    </button>
</script>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <alert ng-repeat="a in vm.alerts" type="{{a.type}}" close="vm.alerts.splice($index, 1)">{{a.msg}}</alert>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <span ng-show="vm.inProgress || vm.redirecting" us-spinner="{radius:30, width:8, length: 16}"></span>
        <ng-include src="'checkoutButton.html'"></ng-include>
        <table class="table checkout-table">
            <thead>
            <tr class="checkout-title">
                <th class="h3">Your Shopping Cart</th>
            </tr>
            <tr>
                <td align="center">
                    <table ng-if="!vm.isEmpty()" class="checkout-items">
                        <thead>
                        <tr class="checkout-header">
                            <th class="checkout-description-header">Description</th>
                            <th class="checkout-units-header">Units</th>
                            <th class="checkout-price-header">Price ({{vm.cart.currency}})</th>
                            <th class="checkout-buttons-header">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.cart.items">
                            <td class="checkout-description">{{item.description}}</td>
                            <td class="checkout-units">{{item.units}}</td>
                            <td class="checkout-price">
                                <nobr>{{item.price | number: 2}}&nbsp;</nobr>
                            </td>
                            <td class="checkout-buttons">
                                <a class="checkout-remove-item" ng-click="vm.removeItem(item)">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="checkout-header">
                            <th>Total</th>
                            <th></th>
                            <th class="checkout-price">
                                <nobr>{{vm.cart.total|number: 2}}</nobr>
                            </th>
                            <td>&nbsp;</td>
                        </tr>
                        <tr ng-if="vm.paymentType == 'PayPal'">
                            <td>
                                Handling Fee
                                <sup>
                                    <span class="text-info ion-information-circled"
                                          tooltip-html-unsafe="<nobr>For PayPal payments there</nobr> is a handling fee of <b>3.5%</b> plus <b><nobr>CHF 0.55</nobr></b>.">
                                </span>
                                </sup>
                            </td>
                            <td></td>
                            <td class="checkout-price">
                                <nobr>{{vm.cart.grandTotal-vm.cart.total|number: 2}}</nobr>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="checkout-grand-total h4">
                            <th>Grand Total</th>
                            <th></th>
                            <th class="checkout-price">
                                <nobr ng-if="vm.paymentType == 'PayPal'">
                                    {{vm.cart.currency}} {{vm.cart.grandTotal|number: 2}}
                                </nobr>
                                <nobr ng-if="vm.paymentType == 'Cash'">
                                    {{vm.cart.currency}} {{vm.cart.total|number: 2}}
                                </nobr>
                            </th>
                            <td>&nbsp;</td>
                        </tr>
                        </tfoot>
                    </table>
                    <h3 ng-if="vm.isEmpty()" class="text-danger"><span class="ion-information-circled"></span> There are
                        no items in your cart</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <form class="form-inline" name="PaymentTypeForm">
                        <div class="form-group form-group-sm">
                            <label for="foo" class="small">Payment Method:</label>
                            <select ng-options="item.id as item.label for item in vm.paymentTypes"
                                    ng-model="vm.paymentType"
                                    id="foo" class="btn btn-xs"></select>
                        </div>
                    </form>
                </td>
            </tr>
            <tr ng-if="vm.paymentType == 'PayPal'">
                <td>
                    <!-- PayPal Logo -->
                    <table border="0" cellpadding="10" cellspacing="0" align="center">
                        <tr>
                            <td align="center"></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup"
                                   title="How PayPal Works"
                                   onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                                    <img class="paypal-logo" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"
                                         border="0"
                                         alt="PayPal Acceptance Mark">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!-- PayPal Logo -->
                </td>
            </tr>
            </thead>
        </table>
        <ng-include src="'checkoutButton.html'"></ng-include>
    </div>
</div>