<div>
    <div class="card">
        <div ng-show="!!vm.activitySelection.length || vm.hasCompletedActivityPackages()"
             class="clearfix bgm-bluegray card-header card-header-with-icon">
            <h2>{{ 'SELECTION_SUMMARY' | translate }}
                <small>{{ 'SELECTION_SUMMARY_DESCRIPTION' | translate }}</small>
            </h2>
            <button ng-click="vm.bookIt()" class="btn bgm-blue pull-right waves-effect btn-float-text">
                Submit <i class="md mdi mdi-shopping-cart"></i></button>
            <button wizard-trigger="#activity-packages"
                    class="btn bgm-blue waves-effect pull-left">
                <i class="md mdi mdi-undo"></i> {{ 'ACTIVITY_PACKAGES' | translate }}
            </button>
            <button wizard-trigger="#activities"
                    class="btn bgm-blue waves-effect pull-left">
                <i class="md mdi mdi-undo"></i> {{ 'ACTIVITIES' | translate }}
            </button>
        </div>
        <div ng-show="!vm.activitySelection.length && !vm.hasCompletedActivityPackages()"
             class="clearfix bgm-amber card-header card-header-with-icon">
            <h2>{{ 'NO_ITEMS_SELECTED' | translate }}
                <small>{{ 'NO_ACTIVITIES_OR_ACTIVITY_PACKAGES_SELECTED' | translate }}.</small>
            </h2>
            <button wizard-trigger="#activity-packages"
                    class="btn bgm-blue waves-effect pull-left">
                <i class="md mdi mdi-undo"></i> {{ 'ACTIVITY_PACKAGES' | translate }}
            </button>
            <button wizard-trigger="#activities"
                    class="btn bgm-blue waves-effect pull-left">
                <i class="md mdi mdi-undo"></i> {{ 'ACTIVITIES' | translate }}
            </button>
        </div>
        <div class="card-body card-padding-sm">
            <div ng-show="vm.hasCompletedActivityPackages()"
                 class="activity-listview listview lv-bordered lv-lg">
                <div class="lv-header-alt">
                    <h2 class="lvh-label">{{ 'SELECTED_ACTIVITY_PACKAGES' | translate }}</h2>
                    <button ng-click="vm.confirmClearPackageSelection ()"
                            class="btn btn-warning pull-right">
                        {{ 'CLEAR_PACKAGE_SELECTION' | translate }}
                    </button>
                </div>
                <div class="lv-body">
                    <div class="lv-item media"
                         ng-repeat="activityPackage in vm.activityPackages | filter:vm.packageSelectionComplete">
                        <div class="media-body">
                            <div class="lv-title">
                                {{$index + 1}}. {{activityPackage.name}}
                            </div>
                            <ul class="lv-attrs">
                                <li>{{ 'ACTIVITIES_IN_ACTIVITY_PACKAGE' | translate }}: {{activityPackage.itemCount}}
                                </li>
                                <li>{{ 'PRICE' | translate }}: {{activityPackage.price}} {{activityPackage.currency}}
                                </li>
                            </ul>
                            <div class="lv-actions actions">
                                <button tooltip="{{ 'REMOVE' | translate }}"
                                        ng-click="vm.confirmRemoveActivityPackage(activityPackage)"
                                        class="btn btn-warning btn-icon"><i
                                        class="md mdi mdi-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="vm.activitySelection.length"
                 class="activity-listview listview lv-bordered lv-lg">
                <div class="lv-header-alt">
                    <h2 class="lvh-label">{{ 'SELECTED_ACTIVITIES' | translate }}</h2>
                    <button ng-click="vm.confirmClearActivitySelection ()"
                            class="btn btn-warning pull-right">
                        {{ 'CLEAR_ACTIVITY_SELECTION' | translate }}
                    </button>
                </div>
                <div class="lv-body">
                    <div class="lv-item media" ng-repeat="activity in vm.activitySelection">
                        <div class="media-body">
                            <div class="lv-title">
                                {{$index + 1}}. <span class="badge" ng-style="vm.getBadge(activity)">{{activity.activityType.name}}</span>
                            </div>
                            <ul class="lv-attrs">
                                <li>{{[activity.start, activity.finish] | tableShortDateTime}}</li>
                                <li ng-if="activity.maxSubscriptions < activity.subscriptionCount">
                                    {{ 'PLACES_LEFT' | translate }}: {{activity.maxSubscriptions -
                                    activity.subscriptionCount}}
                                </li>
                                <li>{{ 'PRICE' | translate }}: {{activity.price}} {{activity.currency}}</li>
                                <li ng-if="activity.location">{{ 'LOCATION' | translate }}: {{activity.location}}</li>
                            </ul>
                            <div class="lv-actions actions">
                                <button tooltip="{{ 'REMOVE' | translate }}"
                                        ng-click="vm.confirmRemoveActivity(activity)"
                                        class="btn btn-warning btn-icon"><i
                                        class="md mdi mdi-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>