<div ng-include="'views/profile-nav.html'"></div>
<form class="form-horizontal" role="form" name="vm.profileForm" novalidate>
    <div class="col-sm-12" ng-if="vm.isWelcome()">
        <blockquote>
            <p>Welcome! This is your first login, blah blah blah someting about e-mail confirmation</p>
        </blockquote>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-sm-2 control-label">name:</label>

            <div class="col-sm-4">
                <p class="form-control-static">@{{vm.user.name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">email:</label>

            <div class="col-sm-4">
                <input type="email" class="form-control" id="email" name="email" ng-model="vm.user.email"
                       placeholder="email">
            </div>
            <div class="help-block small" ng-messages="vm.profileForm.email.$error">
                <div class="help-block small" ng-message="email">Invalid email.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="about" class="col-sm-2 control-label">about:</label>

            <div class="col-sm-4">
                <textarea class="form-control" id="about" ng-model="vm.user.about" placeholder="about you..."
                          rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="button"
                        ng-click="vm.save()" ng-disabled="!vm.profileForm.$dirty || vm.profileForm.$invalid"
                        class="btn btn-default btn-primary"><span class="glyphicon glyphicon-save"></span>
                    save
                </button>
                <button type="button"
                        ng-click="vm.reset()" ng-disabled="!vm.profileForm.$dirty"
                        class="btn btn-default"><span class="glyphicon glyphicon-open"></span>
                    reset
                </button>
                <span ng-hide="vm.user.id" us-spinner=""></span>
            </div>
        </div>
        <div class="col-md-3">
            <alert ng-repeat="a in vm.alerts" type="{{a.type}}" close="vm.alerts.splice($index, 1)">{{a.msg}}</alert>
        </div>
    </div>
</form>
