<form role="form" novalidate name="signUpForm" ng-submit="createUser()">
    <div class="col-md-offset-4 col-md-3">
        <div>
            <p>
                <span class="h4">sign up {{provider ? 'with '+provider : ''}}</span>
            </p>
        </div>
        <div>
            <div class="form-group has-feedback"
                 ng-class="{'has-success':hasSuccess('username'), 'has-error': hasError('username')}">

                <label class="sr-only" for="username">Display Name</label>
                <input id="username" type="text" class="form-control input-sm" name="username"
                       placeholder="Display Name" ng-model="user.name"
                       ng-model-options="{debounce:500}"
                       required pattern="^[a-zA-Z0-9-._]+$" maxlength="32" minlength="3" jas-username>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok':hasSuccess('username'), 'glyphicon-remove':hasError('username')}"></span>
                <span class="form-control-feedback"
                      ng-show="signUpForm.username.$pending"
                      us-spinner="{lines:9, length:5, width:2, radius:3, trail: 40}">
                </span>

                <div class="help-block small" ng-show="hasError('username')" ng-messages="signUpForm.username.$error">
                    <div class="help-block small" ng-message="required">Pick a display name.</div>
                    <div class="help-block small" ng-message="username">Already exists, try another one...</div>
                    <div class="help-block small" ng-message="pattern">Letters, numbers and characters "-", "." and
                        "_".
                    </div>
                    <div class="help-block small" ng-message="minlength">Must be more than 3 characters long.</div>
                    <div class="help-block small" ng-message="maxlength">Display name too long.</div>
                </div>
            </div>
            <div class="form-group has-feedback"
                 ng-class="{'has-error': hasError('email'), 'has-success': hasSuccess('email')}">
                <label class="sr-only" for="email">Email</label>
                <input id="email" type="email" name="email" ng-model="user.email" class="form-control input-sm"
                       placeholder="Email" required ng-model-options="{updateOn: 'blur'}">
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok':hasSuccess('email'), 'glyphicon-remove': hasError('email')}">
                </span>

                <div class="help-block small" ng-show="hasError('email')" ng-messages="signUpForm.email.$error">
                    <div class="help-block small" ng-message="required">Email is required.</div>
                    <div class="help-block small" ng-message="email">Email not valid.</div>
                </div>
            </div>
            <div class="form-group has-feedback"
                 ng-class="{'has-error': hasError('realName'), 'has-success': hasSuccess('realName')}">
                <label class="sr-only" for="realName">Real Name</label>
                <input id="realName" type="text" name="realName" ng-model="user.realName" class="form-control input-sm"
                       placeholder="Real Name">
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok':hasSuccess('realName'), 'glyphicon-remove': hasError('realName')}">
                </span>

                <div class="help-block small" ng-show="hasError('realName')" ng-messages="signUpForm.realName.$error">
                    <!-- Never happens -->
                    <div class="help-block small" ng-message="realName">Real Name not valid.</div>
                </div>
            </div>
            <div ng-if="!provider" class="form-group has-feedback"
                 ng-class="{'has-error': hasError('password'), 'has-success': hasSuccess('password')}">
                <label class="sr-only" for="password">Password</label>
                <input id="password" type="password" name="password" ng-model="user.password"
                       class="form-control input-sm" placeholder="Password"
                       required minlength="4">
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok':hasSuccess('password'), 'glyphicon-remove': hasError('password')}">
                </span>

                <div>
                    <jas-password-strength password="signUpForm.password"/>
                </div>

                <div class="help-block small" ng-show="hasError('password')" ng-messages="signUpForm.password.$error">
                    <div class="help-block small" ng-message="required">Required.</div>
                    <div class="help-block small" ng-message="minlength">Must be at least 4 characters long.</div>
                </div>
            </div>
            <div ng-if="!provider" class="form-group has-feedback"
                 ng-class="{'has-error': hasError('confirm'), 'has-success': hasSuccess('confirm')}">
                <label class="sr-only" for="confirm">Confirm password</label>
                <input id="confirm" type="password" name="confirm" ng-model="user.confirmPassword"
                       class="form-control input-sm" placeholder="Confirm password"
                       ng-model-options="{debounce: 500}"
                       required jas-confirm-field="signUpForm.password">
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok':hasSuccess('confirm'), 'glyphicon-remove': hasError('confirm')}">
                </span>

                <div class="help-block small" ng-show="hasError('confirm')" ng-messages="signUpForm.confirm.$error">
                    <div class="help-block small" ng-message="required">Confirm the password.</div>
                    <div class="help-block small" ng-message="jasConfirmField">Passwords do not match.</div>
                </div>
            </div>
        </div>
        <div>
            <p>
                <button type="submit" ng-disabled="signUpForm.$invalid || inProgress" ng-hide="registered"
                        class="btn btn-primary btn-block">
                    sign up
                </button>
            </p>
            <span ng-show="inProgress" us-spinner=""></span>
        </div>
    </div>
    <div class="col-md-3">
        <alert ng-repeat="a in alerts" type="{{a.type}}" close="alerts.splice($index, 1)">{{a.msg}}</alert>
    </div>
</form>
<div class="col-md-offset-4 col-md-3">
    <div>
        <p>
            <button class="btn btn-google btn-block" ng-click="oauth('Google')" ng-if="!provider">
                <i class="icon ion-social-google"></i>
                sign up with Google
            </button>
        </p>
        <p>
            <button class="btn btn-facebook btn-block" ng-click="oauth('Facebook')" ng-if="!provider">
                <i class="icon ion-social-facebook"></i>
                sign up with Facebook
            </button>
        </p>
    </div>
</div>
