<!DOCTYPE html>
<html lang="en" ng-app="jasifyWeb" ng-strict-di>
<head>
    <title>Jasify Schedule</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Jasify Schedule">
    <meta name="author" content="jasify.com">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="build/img/favicon.ico">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-56638051-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link href="build/css/dep-main.css" rel="stylesheet">
    <link href="build/css/jasify.css" rel="stylesheet">
</head>
<body layout="column" ng-controller="ApplicationController as appVm">
<md-toolbar layout="row" class="md-whiteframe-z1" ng-controller="NavbarController as vm">
    <div class="md-toolbar-tools">
        <md-button ng-show="vm.isAuthenticated()" hide-gt-md ng-click="vm.toggleList()" class="md-icon-button"
                   aria-label="Settings">
            <md-icon md-svg-icon="build/img/menu.svg"></md-icon>
        </md-button>
        <h2>
            Jasify
        </h2>
        <span flex></span>
        <md-button ng-show="vm.isAuthenticated()" class="md-raised" ng-href="#/logout">Log out</md-button>
    </div>
</md-toolbar>
<div class="main-content" flex layout="row" ng-controller="NavbarController as navBarController">
    <md-sidenav id="sidebar"
                class="toggled md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md') && navBarController.isAuthenticated()">
        <ul class="main-menu" style="margin: 0">
            <li>
                <a ng-href="#/profile"><i class="mdi mdi-home"></i> My Profile</a>
            </li>
            <li ng-if="navBarController.isAdminOrOrgMember()" class="sub-menu">
                <a href><i class="mdi mdi-settings-applications"></i> Admin</a>
                <ul>
                    <li ng-if="navBarController.isAdmin()"><a ng-href="#/admin/users"><i class="mdi mdi-person"></i>
                        Users</a></li>
                    <li ng-if="navBarController.isAdmin()"><a ng-href="#/admin/groups"><i class="mdi mdi-group"></i>
                        Groups</a></li>
                    <li ng-if="navBarController.isAdminOrOrgMember()"><a ng-href="#/admin/organizations"><i
                            class="mdi mdi-school"></i> Organizations</a></li>
                    <li ng-if="navBarController.isAdminOrOrgMember()"><a ng-href="#/admin/activities"><i
                            class="mdi mdi-accessibility"></i> Activities</a></li>
                    <li ng-if="navBarController.isAdminOrOrgMember()"><a ng-href="#/admin/activity-packages"><i
                            class="mdi mdi-shop-two"></i> Activity Packages</a></li>
                    <li ng-if="navBarController.isAdmin()"><a ng-href="#/admin/balances"><i
                            class="mdi mdi-attach-money"></i> Balances</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href><i class="mdi mdi-poll"></i> Balance</a>
                <ul>
                    <li><a ng-href="#/payment/make"><i class="ion-card"></i> Make a Payment</a></li>
                    <li><a ng-href="#/balance/view"><i class="mdi mdi-attach-money"></i> View Balance</a></li>
                </ul>
            </li>
            <li>
                <a ng-href="#/checkout"><i class="mdi mdi-shopping-cart"></i> Checkout</a>
            </li>
            <li>
                <a ng-href="#/widgets"><i class="mdi mdi-now-widgets"></i> Widgets</a>
            </li>
            <li>
                <a ng-href="#/logout"><i class="ion-android-exit"></i> Log out</a>
            </li>
        </ul>
    </md-sidenav>
    <div class="container" layout="column" flex  ng-class="{ 'home-splash': !navBarController.isAuthenticated() } ">
        <md-content ng-view id="content" flex>
        </md-content>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted small">
            <span ng-bind-html="appVm.versionString()"></span>
            <span ng-bind-html="appVm.serverVersionString()"></span>
            (<a tooltip="more details" ng-click="appVm.toggleVersion()">+</a>)
        </p>
    </div>
</footer>
<div mask></div>
<!-- These three hidden inputs are for protractor -->
<input type="hidden" id="auth.status" ng-value="vm.isAuthenticated() ? 'authenticated' : 'anonymous'"/>
<input type="hidden" id="auth.name" ng-value="currentUser.name"/>
<input type="hidden" id="auth.id" ng-value="currentUser.id"/>
<script src="build/js/dep-main.js"></script>
<script src="build/js/jasify.js"></script>
<script src="build/js/jasify.tpl.js"></script>
</body>
</html>
