<div ng-include="'profile/profile-nav.html'"></div>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-8">
        <h5>You can log in using any of the following accounts</h5>
        <div class="col-md-4">
            <alert ng-repeat="a in vm.alerts" type="{{a.type}}" close="vm.alerts.splice($index, 1)">{{a.msg}}</alert>
        </div>
        <table class="table">
            <tr ng-repeat="login in vm.logins">
                <td><i class="icon" ng-class="vm.icon(login)"></i> {{login.provider}}</td>
                <td>{{login.email}}</td>
                <td>
                    <a href="" ng-click="vm.removeLogin(login)">remove</a>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button class="btn btn-sm btn-facebook" ng-click="vm.oauth('Facebook')">
                        <i class="icon ion-social-facebook"></i> add Facebook login
                    </button>
                    <button class="btn btn-sm btn-google" ng-click="vm.oauth('Google')">
                        <i class="icon ion-social-google"></i> add Google login
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
