
<div class="card">
    <div class="card-header">
        <h2>Profile Settings
            <small>
                Edit profile settings (email/about me) and link Google / Facebook logins with this account.
            </small>
        </h2>
    </div>
    <div class="card-body card-padding">
        <div class="alert alert-success" role="alert" ng-if="vm.isWelcome">{{vm.isWelcome}}</div>
        <ul class="tab-nav" role="tablist">
            <li class="active">
                <a prevent="click" href="#profile-tab" aria-controls="profile-tab" role="tab" data-toggle="tab">
                    <i class="mdi mdi-settings"></i> Profile Settings
                </a>
            </li>
            <li>
                <a prevent="click" href="#my-logins-tab" aria-controls="my-logins-tab" role="tab" data-toggle="tab">
                    <i class="mdi mdi-people"></i> My Logins</a>
            </li>
        </ul>
        <div class="tab-content">
            <div ng-controller="ProfileSettingsController as vm" role="tabpanel" class="tab-pane active"
                 id="profile-tab">
                <form role="form" novalidate name="vm.profileForm" ng-submit="vm.profileForm.$valid && vm.save()">
                    <div jas-has-feedback class="form-group fg-float">
                        <div class="fg-line">
                            <input type="email" ng-model="vm.user.email" class="form-control fg-input"
                                   id="emailAddress" required name="emailAddress">
                        </div>
                        <label class="fg-label">Email address</label>
                        <jas-feedback-icon-valid field="vm.profileForm.emailAddress"></jas-feedback-icon-valid>
                        <jas-feedback-icon-invalid field="vm.profileForm.emailAddress"
                                                   form="vm.profileForm"></jas-feedback-icon-invalid>
                        <jas-error-help-block field="vm.profileForm.emailAddress" form="vm.profileForm">
                            <span ng-message="required">Email address is required.</span>
                            <span ng-message="email">This email address is not valid.</span>
                        </jas-error-help-block>
                    </div>
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <textarea class="form-control" ng-model="vm.user.aboutMe" rows="5" placeholder="..."></textarea>
                        </div>
                        <label class="fg-label">About me</label>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default">
                            <span class="lang-sm lang-lbl" lang="de"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="lang-xs lang-lbl" lang="en"></span>
                        </button>
                        <!--<div class="btn-group dropup">-->
                            <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                                <!--<span class="lang-sm lang-lbl-full" lang="it"></span> <span class="caret"></span>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu" role="menu">-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="ar"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="be"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="bg"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="cs"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="da"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="de"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="el"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="en"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="es"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="et"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="fi"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="fr"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="ga"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="hi"></span></li>-->
                                <!--<li><span class="lang-sm lang-lbl-full" lang="hr"></span></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="actions-group">
                        <a-button type="submit" controller="vm.saveBtn" ></a-button>
                        <button type="button" btn-href="/" class="btn btn-default waves-effect">Cancel</button>
                    </div>
                </form>
            </div>
            <div ng-controller="ProfileLoginsController as vm" role="tabpanel" class="tab-pane" id="my-logins-tab">
                <h5 ng-show="vm.logins">You can log in using any of the following accounts</h5>
                <table ng-show="vm.logins" class="table table-hover">
                    <tbody>
                    <tr ng-repeat="login in vm.logins">
                        <td><i class="icon" ng-class="vm.icon(login)"></i> {{login.provider}}</td>
                        <td>{{login.email}}</td>
                        <td class="actions-column">
                            <button ng-click="vm.removeLogin(login)" class="btn btn-danger waves-effect"><i
                                    class="md-icon md-icon-delete"></i> Remove
                            </button>
                        </td>
                    </tr>
                    </tr>
                    </tbody>
                </table>
                <div class="actions-group">
                    <button class="btn btn-default btn-facebook" ng-click="vm.oauth('Facebook')">
                        <i class="icon ion-social-facebook"></i> add Facebook login
                    </button>
                    <button class="btn btn-default btn-google" ng-click="vm.oauth('Google')">
                        <i class="icon ion-social-google"></i> add Google login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

