<form novalidate class="form-horizontal" name="vm.activityTypeForm"
      ng-submit="vm.activityTypeForm.$valid && vm.saveOrUpdate()">
    <div class="card">
        <div class="card-header">
            <div class="actions-group">
                <a-button type="submit" controller="vm.saveBtn"></a-button>
                <button type="button" btn-href="/admin/activity-types" class="btn btn-default waves-effect">{{ 'CANCEL'
                    | translate }}
                </button>
            </div>
            <card-back href="#/admin/activity-types"></card-back>
            <h2 ng-if="!vm.activityType.id">{{ 'NEW_ACTIVITY_TYPE' | translate }}
                <small>{{ 'NEW_ACTIVITY_TYPE_DESCRIPTION' | translate }}</small>
            </h2>
            <h2 ng-if="vm.activityType.id">{{ 'EDIT_ACTIVITY_TYPE' | translate }}
                <small>{{ 'EDIT_ACTIVITY_TYPE_DESCRIPTION' | translate }}</small>
            </h2>
        </div>
        <div class="card-body card-padding-sm">
            <div class="row">
                <div class="col-sm-12">
                    <div jas-has-feedback class="form-group">
                        <label class="control-label col-sm-4" for="organization">{{ 'ORGANIZATION' | translate
                            }}</label>

                        <div class="col-sm-8" ng-show="!vm.activityType.id">
                            <div class="fg-line">
                                <div class="select">
                                    <select id="organization" name="organization" class="form-control" required
                                            ng-model="vm.organization"
                                            ng-options="organization as organization.name for organization in vm.organizations">
                                    </select>
                                </div>
                            </div>
                            <jas-feedback-icon-valid field="vm.activityTypeForm.organization"></jas-feedback-icon-valid>
                            <jas-feedback-icon-invalid field="vm.activityTypeForm.organization"
                                                       form="vm.activityTypeForm"></jas-feedback-icon-invalid>
                            <jas-error-help-block field="vm.activityTypeForm.organization" form="vm.activityTypeForm">
                                <div ng-message="required"><span>{{ 'ORGANIZATION_IS_REQUIRED' | translate }}</span>
                                </div>
                            </jas-error-help-block>
                        </div>
                        <div class="col-sm-8" ng-show="vm.activityType.id">
                            <p class="form-control-static">{{vm.organization.name}}</p>
                        </div>
                    </div>
                    <div jas-has-feedback class="form-group">
                        <label for="name" class="col-sm-4 control-label">{{ 'NAME' | translate }}</label>

                        <div class="col-sm-8">
                            <div class="fg-line">
                                <input id="name" name="name" required placeholder="{{ 'ENTER_NAME' | translate }}"
                                       class="form-control"
                                       ng-model="vm.activityType.name"/>
                            </div>
                            <jas-feedback-icon-valid field="vm.activityTypeForm.name"></jas-feedback-icon-valid>
                            <jas-feedback-icon-invalid field="vm.activityTypeForm.name"
                                                       form="vm.activityTypeForm"></jas-feedback-icon-invalid>
                            <jas-error-help-block field="vm.activityTypeForm.name" form="vm.activityTypeForm">
                                <div ng-message="required"><span>{{ 'NAME_IS_REQUIRED' | translate }}</span></div>
                            </jas-error-help-block>
                        </div>
                    </div>
                    <div jas-has-feedback class="form-group">
                        <label for="location" class="col-sm-4 control-label">{{ 'LOCATION' | translate }}</label>

                        <div class="col-sm-8">
                            <div class="fg-line">
                                <input id="location" name="location" required
                                       placeholder="{{ 'ENTER_LOCATION' | translate }}"
                                       class="form-control"
                                       ng-model="vm.activityType.location"/>
                            </div>
                            <jas-feedback-icon-valid field="vm.activityTypeForm.location"></jas-feedback-icon-valid>
                            <jas-feedback-icon-invalid field="vm.activityTypeForm.location"
                                                       form="vm.activityTypeForm"></jas-feedback-icon-invalid>
                            <jas-error-help-block field="vm.activityTypeForm.location" form="vm.activityTypeForm">
                                <div ng-message="required"><span>{{ 'LOCATION_IS_REQUIRED' | translate }}</span></div>
                            </jas-error-help-block>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="colourTag" class="col-sm-4 control-label">{{ 'COLOUR' | translate }}</label>

                        <div class="col-sm-4">
                            <div class="cp-container">
                                <div class="input-group form-group">
                                    <span class="input-group-addon"><i class="md md-color-lens"></i></span>

                                    <div class="fg-line dropdown">
                                        <input id="colourTag" type="text" class="form-control cp-value" name="colourTag"
                                               ng-model="vm.activityType.colourTag"
                                               ng-change="vm.updateTagStyle(vm.activityType.colourTag)"
                                               value="{{vm.activityType.colourTag}}"
                                               data-toggle="dropdown">

                                        <div class="dropdown-menu">
                                            <div class="color-picker" data-cp-default="{{vm.activityType.colourTag}}"></div>
                                        </div>
                                        <i class="cp-value" ng-style="vm.tagStyle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <span class="badge" ng-style="vm.tagStyle">{{vm.activityType.name}}</span>
                        </div>
                    </div>
                    <div jas-has-feedback class="form-group">
                        <label for="price" class="col-sm-4 col-xs-12 control-label">{{ 'PRICE' | translate }}</label>

                        <div jas-has-feedback class="col-sm-4 col-xs-7">
                            <div class="fg-line">
                                <input id="price" name="price" placeholder="{{ 'ENTER_PRICE' | translate }}"
                                       type="number"
                                       class="form-control"
                                       min="0" max="10000" required
                                       ng-model="vm.activityType.price"
                                       ng-change="vm.activityType.currency = 'CHF'"/>
                            </div>
                            <jas-feedback-icon-valid field="vm.activityTypeForm.price"></jas-feedback-icon-valid>
                            <jas-feedback-icon-invalid field="vm.activityTypeForm.price"
                                                       form="vm.activityTypeForm"></jas-feedback-icon-invalid>
                            <jas-error-help-block field="vm.activityTypeForm.price" form="vm.activityTypeForm">
                                <div ng-message="required"><span>{{ 'PRICE_IS_REQUIRED' | translate }}</span></div>
                                <div ng-message="number"><span>{{ 'INVALID_NUMBER' | translate }}</span></div>
                                <div ng-message="min"><span>{{ 'VALUE_MUST_BE_GREATER_THAN_OR_EQUAL_TO' | translate:'{ value: 0 }' }}</span>
                                </div>
                                <div ng-message="max">
                                    <span>{{ 'VALUE_MUST_BE_LESS_THAN' | translate:'{ value: 10000 }' }}</span></div>
                            </jas-error-help-block>
                        </div>
                        <div jas-has-feedback class="col-sm-4 col-xs-5">
                            <div class="fg-line">
                                <div class="select">
                                    <select name="currency" id="currency" required class="form-control"
                                            ng-model="vm.activityType.currency">
                                        <option>CHF</option>
                                    </select>
                                </div>
                            </div>
                            <jas-feedback-icon-valid field="vm.activityTypeForm.currency"></jas-feedback-icon-valid>
                            <jas-feedback-icon-invalid field="vm.activityTypeForm.currency"
                                                       form="vm.activityTypeForm"></jas-feedback-icon-invalid>
                            <jas-error-help-block field="vm.activityTypeForm.currency" form="vm.activityTypeForm">
                                <div ng-message="required"><span>{{ 'CURRENCY_IS_REQUIRED' | translate }}</span></div>
                            </jas-error-help-block>
                        </div>
                    </div>
                    <div jas-has-feedback class="form-group">
                        <label for="capacity" class="col-sm-4 control-label">{{ 'CAPACITY' | translate }}</label>

                        <div class="col-sm-8">
                            <div class="fg-line">
                                <input id="capacity" name="capacity" type="number"
                                       placeholder="{{ 'ENTER_CAPACITY' | translate }}"
                                       class="form-control" min="1" max="1000" required
                                       ng-model="vm.activityType.maxSubscriptions"/>
                            </div>
                            <jas-feedback-icon-valid field="vm.activityTypeForm.capacity"></jas-feedback-icon-valid>
                            <jas-feedback-icon-invalid field="vm.activityTypeForm.capacity"
                                                       form="vm.activityTypeForm"></jas-feedback-icon-invalid>
                            <jas-error-help-block field="vm.activityTypeForm.capacity" form="vm.activityTypeForm">
                                <div ng-message="required"><span>{{ 'CAPACITY_IS_REQUIRED' | translate }}</span></div>
                                <div ng-message="number"><span>{{ 'INVALID_NUMBER' | translate }}</span></div>
                                <div ng-message="min"><span>{{ 'VALUE_MUST_BE_GREATER_THAN_OR_EQUAL_TO' | translate:'{ value: 0 }' }}</span>
                                </div>
                                <div ng-message="max">
                                    <span>{{ 'VALUE_MUST_BE_LESS_THAN' | translate:'{ value: 10000 }' }}</span></div>
                            </jas-error-help-block>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-4 control-label">{{ 'DESCRIPTION' | translate }}</label>

                        <div class="col-sm-8">
                            <div class="fg-line">
                                <textarea class="form-control auto-size" id="description" name="description" rows="2"
                                          placeholder="{{ 'ENTER_DESCRIPTION' | translate }}"
                                          ng-model="vm.activityType.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
