<div ng-if="vm.organizations.length > 0" class="card">
    <div class="card-header">
        <h2>{{ 'ACTIVITY_TYPES' | translate }}
            <small>{{ 'ADD_EDIT_DELETE_ACTIVITY_TYPES' | translate }}</small>
        </h2>
    </div>
    <div class="card-body card-padding-sm">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="organization" class="col-sm-2 control-label">{{ 'ORGANIZATION' | translate }}</label>

                <div class="col-sm-4">
                    <div class="fg-line">
                        <div class="select">
                            <select id="organization" class="form-control"
                                    ng-model="vm.organization"
                                    ng-options="organization as organization.name for organization in vm.organizations"
                                    ng-change="vm.organizationSelected(vm.organization)">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <compose-new ng-show="vm.activityTypes.length > 0" action="vm.addActivityType()"></compose-new>
    <table id="admin-activity-types" ng-if="vm.activityTypes.length" class="table responsive table-hover table-condensed table-vmiddle">
        <thead>
        <tr>
            <th>
                <row-add action="vm.addActivityType()" description="{{ 'ADD_ACTIVITY_TYPE' | translate }}"></row-add>
            </th>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'COLOUR' | translate }}</th>
            <th>{{ 'LOCATION' | translate }}</th>
            <th>{{ 'PRICE' | translate }}</th>
            <th>{{ 'DESCRIPTION' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-delete"
            ng-repeat="activityType in vm.activityTypes | orderBy:'name'"
            ng-class="{ 'selected': vm.selection.id === activityType.id }"
            row-select="vm.selectActivityType(activityType)">
            <td class="row-commands">
                <row-edit action="vm.viewActivityType(activityType)"></row-edit>
                <row-delete action="vm.removeActivityType(activityType)"></row-delete>
            </td>
            <td class="activity-type-name">{{activityType.name}}</td>
            <td class="activity-type-tag"><span class="tag-preview" ng-style="vm.getPreviewStyle(activityType.colourTag)" ></span></td>
            <td class="activity-type-location">{{activityType.location}}</td>
            <td class="activity-type-price">
                {{activityType.price | currency:activityType.currency}}
            </td>
            <td class="activity-type-description">{{activityType.description}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="card" ng-if="vm.organizations.length > 0 && vm.activityTypes.length === 0">
    <div class="card-padding card-body text-center">
        <p>{{ 'NO_ACTIVITY_TYPES_DEFINED_FOR' | translate}} {{::vm.organization.name}}.</p>
        <button ng-click="vm.addActivityType()" class="btn btn-primary waves-effect">{{ 'CREATE_ACTIVITY_TYPE' |
            translate }}
        </button>
    </div>
</div>
<div class="card" ng-if="vm.organizations.length === 0">
    <div class="card-padding card-body text-center">
        <p>{{ 'CREATE_ORGANIZATION_TYPE_BEFORE_ACTIVITY_TYPE' | translate }}</p>
        <button btn-href="admin/organizations" class="btn btn-primary waves-effect">{{ 'CREATE_ORGANIZATION' | translate
            }}
        </button>
    </div>
</div>

