<div class="title">Password Assistance</div>
<hr/>
<p>Enter your email address below and we will send you a link with instructions.</p>
<form name="vm.forgotForm" novalidate ng-submit="vm.forgotForm.$valid && loginPage.recoverPassword(vm)">
    <div class="form-group">
        <input placeholder="Your email address" name="email" type="email" class="form-control"
               ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }"
               ng-model="vm.email" />
    </div>
    <p ng-show="vm.forgotForm.email.$invalid" class="text-danger">
        This email address is not valid.
    </p>
    <md-button class="md-raised md-accent">
        Submit
    </md-button>
</form>
<hr/>
<div>
    <a href ng-click="loginPage.signInMode()"> Back to Log In form</a>
</div>
