<div class="card">
    <div class="card-header">
        <card-back href="#/admin/activities/{{vm.organization.id}}"></card-back>
        <h2>{{ 'SUBSCRIBERS' | translate }}
            <small>
                {{ 'USE_SEARCH_TO_FIND_USERS' | translate }}
            </small>
        </h2>
    </div>
    <div class="card-body">
        <div class="bootgrid-header container-fluid">
            <div class="actionBar">
                <div class="col-sm-12 col-lg-6">
                    <div class="search form-group">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon-search"></span>
                            <input ng-change="vm.queryChanged()"
                                   ng-model-options="{ debounce: 500 }"
                                   ng-model="vm.query"
                                   type="text" name="query" id="query" class="search-field form-control"
                                   placeholder="{{ 'SEARCH' | translate }}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="actions btn-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <i class="input-helper"></i>
                                Regex
                            </label>
                        </div>
                        <div class="dropdown btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="dropdown-text">{{ 'SEARCH_BY' | translate }}: {{vm.searchBy()}}</span> <span
                                    class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li ng-class="{ 'active': vm.searchBy() === 'name' }">
                                    <a href prevent="click" ng-click="vm.searchBy('name')"
                                       class="dropdown-item dropdown-item-button">{{ 'NAME' | translate }}</a>
                                </li>
                                <li ng-class="{ 'active': vm.searchBy() === 'email' }">
                                    <a href prevent="click" ng-click="vm.searchBy('email')"
                                       class="dropdown-item dropdown-item-button">{{ 'EMAIL' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="dropdown-text">{{ 'PAGE_SIZE' | translate }}: {{vm.perPage()}}</span> <span
                                    class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li ng-repeat="size in vm.pagerSizes" ng-class="{ 'active': vm.perPage() === size }">
                                    <a href prevent="click" ng-click="vm.perPage(size)"
                                       class="dropdown-item dropdown-item-button">{{size}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="infos col-sm-6">{{ 'SUBSCRIPTIONS' | translate }}: {{vm.activity.subscriptionCount}} of
                    {{vm.activity.maxSubscriptions}}
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="users-list" class="table-vmiddle table table-striped table-hover">
            <thead>
            <tr>
                <th>{{ 'ADD' | translate }}</th>
                <th>{{ 'NAME' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.id">
                <th>
                    <button title="Add User" class="btn bgm-teal btn-icon"
                            ng-disabled="vm.activity.subscriptionCount >= vm.activity.maxSubscriptions || vm.isSubscribed(user)"
                            ng-click="vm.subscribe(user)"><i class="md mdi mdi-person-add"></i></button>
                </th>
                <td>{{user.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="bootgrid-footer container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <pagination max-size="vm.pagination.maxSize" ng-model="vm.pagination.page" ng-change="vm.pageChanged()"
                            total-items="vm.pagination.total" num-pages="vm.pagination.numPages"
                            items-per-page="vm.perPage()"
                            boundary-links="true" rotate="true">
                </pagination>
            </div>
            <div class="col-sm-6 infoBar">
                <pagination-info total-size="vm.pagination.total" current-page-size="vm.users.length"
                                 items-per-page="vm.perPage()" page="vm.pagination.page"></pagination-info>
                </div>
            </div>
        </div>
    </div>
</div>