<div ng-if="vm.organizations.length > 0" class="card">
    <div class="card-header">
        <h2>{{ 'ACTIVITIES' | translate }}
            <small>{{ 'ADD_EDIT_DELETE_ACTIVITIES' | translate }}</small>
        </h2>
    </div>
    <div class="card-body card-padding-sm">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="organization" class="col-sm-2 control-label">{{ 'ORGANIZATION' | translate }}</label>

                <div class="col-sm-4">
                    <div class="fg-line">
                        <div class="select">
                            <select id="organization" class="form-control"
                                    ng-model="vm.organization"
                                    ng-options="organization as organization.name for organization in vm.organizations"
                                    ng-change="vm.organizationSelected(vm.organization)">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <compose-new ng-show="vm.activities.length > 0" action="vm.addActivity()"></compose-new>
    <table id="admin-activities-table" ng-if="vm.activities.length" class="table responsive table-hover table-condensed table-vmiddle">
        <thead>
        <tr>
            <th>
                <row-add action="vm.addActivity()" description="Add Activity"></row-add>
            </th>
            <th>{{ 'ACTIVITY_TYPE' | translate }}</th>
            <th class="visible-lg">{{ 'LOCATION' | translate }}</th>
            <th>{{ 'START' | translate }}</th>
            <th>{{ 'FINISH' | translate }}</th>
            <th>{{ 'SUBSCRIPTIONS' | translate }}</th>
            <th>{{ 'PRICE' | translate }}</th>
            <th class="jas-visible-xs" colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-delete"
            ng-repeat="activity in vm.activities | orderBy:'start'"
            ng-class="{ 'selected': vm.selection.id === activity.id }"
            row-select="vm.selectActivity(activity)">
            <td class="row-commands">
                <row-edit action="vm.viewActivity(activity)"></row-edit>
                <row-delete action="vm.removeActivity(activity)"></row-delete>
                <div class="dropdown">
                    <button type="button" tooltip="{{ 'SUBSCRIPTIONS' | translate }}"
                            class="btn btn-icon btn-primary command-edit" data-toggle="dropdown" aria-expanded="true">
                        <i class="md mdi mdi-group"></i>
                    </button>
                    <ul class="dropdown-menu fadeIn animated fadeOut" ng-include="'subscribtion-actions'"></ul>
                </div>
            </td>
            <td class="activity-type">{{activity.activityType.name}}</td>
            <td class="activity-location visible-lg">{{activity.location}}</td>
            <td class="activity-start">{{activity.start | amDateFormat: 'L LT' }}</td>
            <td class="activity-finish">{{activity.finish | amDateFormat: 'L LT' }}</td>
            <td class="activity-subscription-info">
                {{activity.subscriptionCount||0}} of {{activity.maxSubscriptions||0}}
            </td>
            <td class="subscribers-actions jas-visible-xs">
                <ul class="sm-actions-list" ng-include="'subscribtion-actions'">

                </ul>
            </td>
            <td class="activity-price">
                {{activity.price | currency:activity.currency}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="card" ng-if="vm.organizations.length > 0 && vm.activities.length === 0">
    <div class="card-padding card-body text-center">
        <p translate="NO_ACTIVITIES_DEFINED_FOR_X" translate-values="{organization: '{{::vm.organization.name}}'}"></p>
        <button ng-click="vm.addActivity()" class="btn btn-primary waves-effect">{{ 'CREATE_ACTIVITY' | translate }}
        </button>
    </div>
</div>
<div class="card" ng-if="vm.organizations.length === 0">
    <div class="card-padding card-body text-center">
        <p>{{ 'CREATE_ORGANIZATION_TYPE_BEFORE_ACTIVITY' | translate }}</p>
        <button btn-href="admin/organizations" class="btn btn-primary waves-effect">{{ 'CREATE_ORGANIZATION' | translate
            }}
        </button>
    </div>
</div>
<script id="subscribtion-actions" type="text/ng-template">
    <li ng-if="activity.subscriptionCount > 0"><a href ng-click="vm.viewSubscribers(activity.id)">{{ 'VIEW_SUBSCRIBERS'
        | translate }}</a></li>
    <li><a href ng-click="vm.addSubscriber(activity.id)">{{ 'ADD_SUBSCRIBER' | translate }}</a></li>
</script>