<div class="row">
    <div class="col-sm-1">
        <a ng-click="vm.back()"><span class="glyphicon glyphicon-arrow-left"></span> {{ 'BACK' | translate }}</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'CREATED' | translate }}</th>
                <th>{{ 'FULL_NAME' | translate }}</th>
                <th>{{ 'USERNAME' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="subscription in vm.subscriptions">
                <td>{{subscription.user.created | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{subscription.user.realName}}</td>
                <td>{{subscription.user.name}}</td>
                <td>
                    <a ng-href="mailto:{{subscription.user.email}}" target="_top"><span
                            class="glyphicon glyphicon-envelope"></span></a>
                </td>
                <td>
                    <row-delete action="vm.cancel(subscription.id)"></row-delete>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>