<div ng-if="vm.organizations.length > 0" class="card">
    <div class="card-header">
        <h2>Activities
            <small>
                Add/edit/delete activities. Check activity subscriptions or add/remove subscribers from an activity.
            </small>
        </h2>
    </div>
    <div class="card-body card-padding-sm">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="organization" class="col-sm-2 control-label">Organization:</label>

                <div class="col-sm-4">
                    <div class="fg-line">
                        <div class="select">
                            <select id="organization" class="form-control"
                                    ng-model="vm.organization"
                                    ng-options="organization as organization.name for organization in vm.organizations"
                                    ng-change="vm.organizationSelected(vm.organization)">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="admin-activities-table" ng-if="vm.activities.length" class="table table-hover table-condensed table-vmiddle">
        <thead>
        <tr>
            <th>
                <row-add ng-click="vm.addActivity()"  description="Add Activity"/>
            </th>
            <th>Activity Type</th>
            <th>Location</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Subscriptions</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-delete" ng-repeat="activity in vm.activities | orderBy:'start'">
            <td class="row-commands">
                <row-edit action="vm.viewActivity(activity)"></row-edit>
                <row-delete action="vm.removeActivity(activity)"></row-delete>
                <div class="dropdown">
                    <button type="button" tooltip="Subscriptions" class="btn btn-icon btn-primary command-edit" data-toggle="dropdown" aria-expanded="true"><i class="md mdi mdi-group"></i></button>
                    <ul class="dropdown-menu fadeIn animated fadeOut">
                        <li ng-if="activity.subscriptionCount > 0"><a href ng-click="vm.viewSubscribers(activity.id)">View Subscribers</a></li>
                        <li><a href ng-click="vm.addSubscriber(activity.id)">Add Subscriber</a></li>
                    </ul>
                </div>
            </td>
            <td class="activity-type">{{activity.activityType.name}}</td>
            <td class="activity-location">{{activity.location}}</td>
            <td>{{activity.start | amDateFormat: 'L LT' }}</td>
            <td>{{activity.finish | amDateFormat: 'L LT' }}</td>
            <td>
                {{activity.subscriptionCount||0}} of {{activity.maxSubscriptions||0}}
            </td>
            <td>
                {{activity.price | currency:activity.currency}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="card" ng-if="vm.organizations.length > 0 && vm.activities.length === 0">
    <div class="card-padding card-body text-center">
        <p>No Activities are defined for {{::vm.organization.name}}.</p>
        <button ng-click="vm.addActivity()" class="btn btn-primary waves-effect">Create Activity</button>
    </div>
</div>
<div class="card" ng-if="vm.organizations.length === 0">
    <div class="card-padding card-body text-center">
        <p>Before you can start planning Activities, you need to create Organization.</p>
        <button btn-href="admin/organizations" class="btn btn-primary waves-effect">Create Organization</button>
    </div>
</div>

