<div class="row">
    <div class="col-sm-4">
        <form class="form-horizontal" role="form" name="vm.organizationForm" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-4" for="organization">
                    <nobr><a ng-click="vm.viewOrganization(vm.organization.id)"><span
                            class="glyphicon glyphicon-chevron-up"></span></a> Organization:
                    </nobr>
                </label>

                <div class="col-sm-7">
                    <select ng-model="vm.organization" id="organization" class="form-control"
                            ng-options="organization as organization.name for organization in vm.organizations"
                            ng-change="vm.organizationSelected(vm.organization)">
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-8">
        <alert ng-repeat="a in vm.alerts" type="{{a.type}}" close="vm.alerts.splice($index, 1)">{{a.msg}}</alert>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <a ng-click="vm.addActivity()" tooltip="Create new activity">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </th>
                <th>activity type</th>
                <th>location</th>
                <th>start</th>
                <th>finish</th>
                <th>subscriptions</th>
                <th>price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="activity in vm.activities">
                <td></td>
                <td ng-click="vm.viewActivity(activity.id)">{{activity.activityType.name}}</td>
                <td ng-click="vm.viewActivity(activity.id)">{{activity.location}}</td>
                <td ng-click="vm.viewActivity(activity.id)">{{activity.start | date:'yyyy-MM-dd HH:mm' }}</td>
                <td ng-click="vm.viewActivity(activity.id)">{{activity.finish | date:'yyyy-MM-dd HH:mm' }}</td>
                <td ng-click="vm.viewActivity(activity.id)">
                    {{activity.subscriptionCount||0}} of {{activity.maxSubscriptions||0}}
                </td>
                <td ng-click="vm.viewActivity(activity.id)">
                    {{activity.price | currency:activity.currency}}
                </td>
                <td>
                    <button type="button" class="btn btn-link btn-xs" ng-show="activity.subscriptionCount > 0"
                            ng-click="vm.viewSubscribers(activity.id)">
                        <span class="glyphicon glyphicon-user" tooltip="Subscribers"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="vm.remove(activity.id)"><span
                            class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr ng-if="vm.activities.length == 0">
                <td colspan="8">No activities...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>