<div class="card">
    <div class="card-header">
        <h2>Users List
            <small>
                Use search settings to find users, change user settings or add new user.
            </small>
        </h2>
    </div>
    <div class="card-body">
        <div class="bootgrid-header container-fluid">
            <div class="row">
                <div class="actionBar">
                    <div class="col-sm-12 col-lg-6">
                        <div class="search form-group">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon-search"></span>
                                <input ng-change="vm.queryChanged()"
                                       ng-model-options="{ debounce: 500 }"
                                       ng-model="vm.query"
                                       type="text" name="query" id="query" class="search-field form-control"
                                       placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="actions btn-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Regex
                                </label>
                            </div>
                            <div class="dropdown btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="dropdown-text">Search by: {{vm.searchBy()}}</span> <span
                                        class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li ng-class="{ 'active': vm.searchBy() === 'name' }">
                                        <a href prevent="click" ng-click="vm.searchBy('name')"
                                           class="dropdown-item dropdown-item-button">Name</a>
                                    </li>
                                    <li ng-class="{ 'active': vm.searchBy() === 'email' }">
                                        <a href prevent="click" ng-click="vm.searchBy('email')"
                                           class="dropdown-item dropdown-item-button">Email</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="dropdown-text">Page Size: {{vm.perPage()}}</span> <span
                                        class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li ng-repeat="size in vm.pagerSizes"
                                        ng-class="{ 'active': vm.perPage() === size }">
                                        <a href prevent="click" ng-click="vm.perPage(size)"
                                           class="dropdown-item dropdown-item-button">{{size}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="users-list" class="table table-hover table-condensed table-vmiddle">
        <thead>
        <tr>
            <th>
                <row-add btn-href="/admin/user" description="Add User" />
            </th>
            <th>Name</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.users track by user.id">
            <td class="row-commands">
                <row-edit description="Edit {{user.name}}" action="vm.viewUser(user.id)" data-row-id="{{user.id}}"></row-edit>
            </td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><span ng-if="user.admin" class="ion-checkmark-round"></span></td>
            <td class="created">{{user.created | amDateFormat:'L LT' }}</td>
        </tr>
        </tbody>
    </table>
    <div class="bootgrid-footer container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <pagination max-size="vm.maxSize" ng-model="vm.page" ng-change="vm.pageChanged()"
                            total-items="vm.total" num-pages="vm.numPages" items-per-page="vm.perPage()"
                            boundary-links="true" rotate="true">
                </pagination>
            </div>
            <div class="col-sm-6 infoBar">
                <div class="infos">Showing {{vm.perPage() * (vm.page - 1) + 1}} to {{[vm.users.length * vm.page ,
                    vm.total] | min}} of {{vm.total}} entries
                </div>
            </div>
        </div>
    </div>
</div>