<div class="modal-header">
    <h5 ng-if="vm.isCreateAccount()" class="modal-title">Create Account</h5>
    <h5 ng-if="vm.isSignIn()" class="modal-title">Sign In</h5>
</div>
<div class="modal-body">

    <p class="small" ng-if="vm.isCreateAccount()">Already have an account?
        <a ng-click="vm.switchToSignIn()">Sign In</a>
    </p>
    <div ng-if="vm.isCreateAccount()" ng-controller="CreateAccountController as vm"
         ng-include="'authenticate/create-account.html'"></div>

    <p class="small" ng-if="vm.isSignIn()">Don't have an account?
        <a ng-click="vm.switchToCreateAccount()">Create Account</a>
    </p>
    <div ng-if="vm.isSignIn()" ng-controller="SignInController as vm"
         ng-include="'authenticate/sign-in.html'"></div>

</div>
<!--<div class="modal-footer">-->
<!--<button class="btn btn-primary" ng-click="$close('OK')">ok</button>-->
<!--<button class="btn btn-warning" ng-click="$dismiss('Cancel')">cancel</button>-->
<!--</div>-->