<div class="modal-header">
    <h4 class="modal-title">Please Authenticate</h4>
</div>
<div class="modal-body">

    <div ng-if="vm.isCreateAccount()" ng-include="'authenticate/create-account.html'"></div>
    <span class="small" ng-if="vm.isCreateAccount()">Already have an account?
        <a ng-click="vm.switchToSignIn()">Sign In</a>
    </span>

    <div ng-if="vm.isSignIn()" ng-include="'authenticate/sign-in.html'"></div>
    <span class="small" ng-if="vm.isSignIn()">Don't have an account?
        <a ng-click="vm.switchToCreateAccount()">Create Account</a>
    </span>

</div>
<!--<div class="modal-footer">-->
<!--<button class="btn btn-primary" ng-click="$close('OK')">ok</button>-->
<!--<button class="btn btn-warning" ng-click="$dismiss('Cancel')">cancel</button>-->
<!--</div>-->