<div ng-hide="vm.isEmail()">
    <fieldset>
        <div class="form-group col-sm-12">
            <button class="btn btn-google btn-block" ng-click="vm.oauth('Google')">
                <i class="icon ion-social-google"></i>
                Create Account with Google
            </button>
            <button class="btn btn-facebook btn-block" ng-click="vm.oauth('Facebook')">
                <i class="icon ion-social-facebook"></i>
                Create Account with Facebook
            </button>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group col-sm-12">
            <button class="btn btn-default btn-block" ng-click="vm.withEmail()">
                <i class="icon ion-email"></i>
                Create Account with Email
            </button>
        </div>
    </fieldset>
</div>
<div ng-show="vm.isEmail()">
    <form class="form" role="form" novalidate name="vm.authenticateForm">
        <div class="form-group form-group-sm has-feedback">
            <label for="realName" class="sr-only">Full Name</label>
            <input type="text" class="form-control" id="realName" ng-model="vm.user.realName" placeholder="Full Name"/>
        </div>
        <div class="form-group form-group-sm has-feedback">
            <label for="email" class="sr-only">E-mail</label>
            <input type="email" class="form-control" id="email" ng-model="vm.user.email" placeholder="E-mail"/>
        </div>
        <div class="form-group form-group-sm has-feedback">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password" ng-model="vm.user.password"
                   placeholder="Password"/>
        </div>
        <div class="form-group form-group-sm has-feedback">
            <label for="confirm" class="sr-only">Confirm Password</label>
            <input type="password" class="form-control" id="confirm" ng-model="vm.user.confirm"
                   placeholder="Confirm Password"/>
        </div>
        <button class="btn btn-sm btn-primary"><i class="icon ion-email"></i> Create Account</button><br/>
        <small>Create Account with <a ng-click="vm.withOAuth()">Google or Facebook</a></small>
    </form>
</div>
