<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Password assistance</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="vm.forgotForm" novalidate="">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-1">
                            <small>
                                Enter the e-mail address associated with your account, then click
                                <em><i class="fa fa-unlock"></i> Continue</em>.
                                We'll email you a link to a page where you can easily create a new password.
                            </small>
                        </div>
                    </div>
                    <div class="form-group form-group-sm has-feedback">
                        <label for="email" class="col-sm-2 col-sm-offset-1 control-label">E-mail:</label>

                        <div class="col-sm-7"
                             ng-class="{'has-success':vm.forgotForm.email.$valid, 'has-error': vm.forgotForm.email.$dirty && vm.forgotForm.email.$invalid}">
                            <input type="email" name="email" ng-model="vm.email" class="form-control input-sm"
                                   id="email" ng-disabled="vm.inProgress || vm.passwordSent" placeholder="Email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.recover()"
                                    ng-hide="vm.passwordSent"
                                    ng-disabled="vm.inProgress || vm.forgotForm.$invalid">
                                <i class="fa fa-unlock"></i> Continue
                            </button>
                            <span ng-show="vm.passwordSent" class="book-it-subscribed">
                                <small><i class="fa fa-check"></i> An e-mail with instructions was sent to <em>{{vm.email}}</em></small>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>