#if($sut.isNotBlank($user.RealName))
    #set($title="New User '$user.RealName'")
#else
    #set($title="New User '$user.Name'")
#end
#@textMail($title)

Dear JASIFY Team,

A new user has signed up!

Id       : $kut.keyToString($user.Id)
Name     : $user.Name
Real Name: $!user.RealName
E-mail   : $user.Email
Created  : $user.Created

Check his profile!
${app.Url}/#/admin/user/$kut.keyToString($user.Id)

Go team JASIFY!!!
#end

