#if( ($subscriptions && !$subscriptions.Empty) || ($executions && !$executions.Empty))
<table width="80%">
    <th colspan="6" class="details-title">Subscription Details</th>
    <tr>
        <th align="left" colspan="2">Period (dd/mm/yy)</th>
        <th align="left">Activity</th>
        <th align="left">Purchased from</th>
        <th align="left">Price</th>
        <th align="left">Ref #</th>
    </tr>
    #foreach($subscription in $subscriptions)
        #set($activity = $mut.activity($subscription))
        #set($organization = $mut.organization($activity))
        #if( ($foreach.count % 2) == 0 )
            #set($cl="odd-row")
        #else
            #set($cl="even-row")
        #end
        <tr class="$cl">
            <td colspan="2">$mut.formatPeriodShort($activity)</td>
            <td>$activity.Name</td>
            <td>$organization.Name</td>
            <td>$cut.formatCurrency($activity.Currency, $activity.Price)</td>
            <td>$kut.keyToString($subscription.Id)</td>
        </tr>
    #end
    #foreach($execution in $executions)
        #set($activityPackage = $mut.activityPackage($execution))
        #set($organization = $mut.organization($activityPackage))
        <tr class="activity-package">
            <th class="activity-package" colspan="3">Package: $activityPackage.Name</th>
            <td>$organization.Name</td>
            <td>$cut.formatCurrency($activityPackage.Currency, $activityPackage.Price)</td>
            <td>$kut.keyToString($execution.Id)</td>
        </tr>
        #foreach($subscription in $mut.subscriptions($execution))
            #set($activity = $mut.activity($subscription))
            #set($organization = $mut.organization($activity))
            #if( ($foreach.count % 2) == 0 )
                #set($cl="odd-row")
            #else
                #set($cl="even-row")
            #end
            <tr class="$cl">
                <td class="activity-package-subscription">&nbsp;</td>
                <td>$mut.formatPeriodShort($activity)</td>
                <td>$activity.Name</td>
                <td>$organization.Name</td>
                <td>-</td>
                <td>$kut.keyToString($subscription.Id)</td>
            </tr>
        #end
    #end
</table>
#end