<form class="form-signin" role="form">
    <h2 class="form-signin-heading">login</h2>
    <input type="email" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" class="form-control" placeholder="Password" required>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button type="button" class="btn btn-lg btn-primary btn-block" data-placement="right" title="{{popover.title}}"
            data-content="{{popover.content}}" data-animation="am-flip-x"  bs-popover>login
    </button>
</form>