<form role="form" name="loginForm" novalidate ng-submit="login(credentials)">
    <div class="col-md-offset-4 col-md-3">
        <div>
            <p>
                <span class="h4">login</span>
            </p>
        </div>

        <div>
            <div class="form-group">
                <label class="sr-only" for="name">Name (your login)</label>
                <input id="name" name="name" ng-model="credentials.name" type="text" class="form-control input-sm"
                       placeholder="Name" required autofocus>
            </div>
            <div class="form-group has-feedback">
                <label class="sr-only" for="password">Password</label>
                <input id="password" ng-model="credentials.password" name="password" type="password"
                       class="form-control input-sm" placeholder="Password" required>
            </div>
        </div>
        <div>
            <p>
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="loginForm.$clean
             || loginForm.$invalid">
                    login
                </button>
            </p>
        </div>
    </div>

</form>
<div class="col-md-offset-4 col-md-3">
    <div>
        <p>
            <button class="btn btn-google btn-block" ng-click="oauth('Google')" ng-if="!provider">
                <i class="icon ion-social-facebook"></i>
                login with Google
            </button>
        </p>
        <p>
            <button class="btn btn-facebook btn-block" ng-click="oauth('Facebook')" ng-if="!provider">
                <i class="ion-social-google"></i>
                login with Facebook
            </button>
        </p>
    </div>
</div>
