<form role="form" novalidate name="signUpForm" ng-submit="createUser()">
    <div class="col-md-offset-4 col-md-3">
        <div>
            <p>
                <span class="h4">sign up</span>
            </p>
        </div>
        <div>
            <div class="form-group has-feedback"
                 ng-class="{'has-success':hasSuccess('username'), 'has-error': hasError('username')}">

                <label class="sr-only" for="username">Login name</label>
                <input id="username" type="text" class="form-control input-sm" name="username"
                       placeholder="Login name" ng-model="user.name"
                       ng-model-options="{debounce:500}"
                       required pattern="^...." maxlength="32" username>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok':hasSuccess('username'), 'glyphicon-remove':hasError('username')}"></span>
                <span class="form-control-feedback"
                      ng-show="signUpForm.username.$pending"
                      us-spinner="{lines:9, length:5, width:2, radius:3, trail: 40}">
                </span>

                <div class="help-block small" ng-show="hasError('username')" ng-messages="signUpForm.username.$error">
                    <div class="help-block small" ng-message="required">Pick a username.</div>
                    <div class="help-block small" ng-message="username">Username not available.</div>
                    <div class="help-block small" ng-message="pattern">Username too short.</div>
                    <div class="help-block small" ng-message="maxlength">Username too long.</div>
                </div>
            </div>
            <div class="form-group has-feedback"
                 ng-class="{'has-error': hasError('email'), 'has-success': hasSuccess('email')}">
                <label class="sr-only" for="email">Email</label>
                <input id="email" type="email" name="email" ng-model="user.email" class="form-control input-sm"
                       placeholder="Email" required>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok':hasSuccess('email'), 'glyphicon-remove': hasError('email')}">
                </span>

                <div class="help-block small" ng-show="hasError('email')" ng-messages="signUpForm.email.$error">
                    <div class="help-block small" ng-message="required">Email is required.</div>
                    <div class="help-block small" ng-message="email">Email not valid.</div>
                </div>
            </div>
            <div class="form-group has-feedback"
                 ng-class="{'has-error': hasError('password'), 'has-success': hasSuccess('password')}">
                <label class="sr-only" for="password">Password</label>
                <input id="password" type="password" name="password" ng-model="user.password"
                       class="form-control input-sm" placeholder="Password"
                       required strong-password>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok':hasSuccess('password'), 'glyphicon-remove': hasError('password')}">
                </span>

                <div class="help-block small" ng-show="hasError('password')" ng-messages="signUpForm.password.$error">
                    <div class="help-block small" ng-message="required">Choose a password.</div>
                    <div class="help-block small" ng-message="strongPassword">Password is not strong enough
                        <!-- TODO -->.
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback"
                 ng-class="{'has-error': hasError('confirm'), 'has-success': hasSuccess('confirm')}">
                <label class="sr-only" for="confirm">Confirm password</label>
                <input id="confirm" type="password" name="confirm" ng-model="user.confirmPassword"
                       class="form-control input-sm" placeholder="Confirm password"
                       required confirm-field="signUpForm.password">
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok':hasSuccess('confirm'), 'glyphicon-remove': hasError('confirm')}">
                </span>

                <div class="help-block small" ng-show="hasError('confirm')" ng-messages="signUpForm.confirm.$error">
                    <div class="help-block small" ng-message="required">Confirm the password.</div>
                    <div class="help-block small" ng-message="confirmField">Passwords do not match.</div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" ng-disabled="signUpForm.$invalid || inProgress" ng-hide="registered"
                    class="btn btn-sm btn-primary btn-block">
                sign up
            </button>
            <span ng-show="inProgress" us-spinner=""></span>
        </div>
    </div>
    <div class="col-md-3">
        <alert ng-repeat="a in alerts" type="{{a.type}}" close="alerts.splice($index, 1)">{{a.msg}}</alert>
    </div>
</form>
<div class="col-md-offset-4 col-md-3">
    <div>
        <button class="btn btn-sm btn-default btn-block" ng-click="oauth('Google')">
            sign up with Google
        </button>
    </div>
</div>
