/**
Set of animations for visual feedback
*/

/* Animation used on ngRepeat for rows that could be deleted */
.animate-delete.ng-move,
.animate-delete.ng-enter,
.animate-delete.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-delete.ng-leave.ng-leave-active,
.animate-delete.ng-move,
.animate-delete.ng-enter {
    background-color: inherit;
    opacity:0;
}

.animate-delete.ng-leave,
.animate-delete.ng-move.ng-move-active,
.animate-delete.ng-enter.ng-enter-active {
    background-color: rgba(255, 0, 0, 0.5);
    opacity:1;
}