body {
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/* This is for angular-bootstrap to recognize links */
.nav, .pagination, .carousel, .panel-title .ptr a {
    cursor: pointer;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.border {
    border: solid 1px;
}

.border-red {
    border: solid 1px red;
}

.border-green {
    border: solid 1px green;
}

.border-blue {
    border: solid 1px blue;
}

/* BEGIN: Bootstrap columns of same height */
.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
}

@media (min-width: 768px) {
    .container-sm-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-sm-height {
        display: table-row;
    }

    .col-sm-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 992px) {
    .container-md-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-md-height {
        display: table-row;
    }

    .col-md-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-lg-height {
        display: table-row;
    }

    .col-lg-height {
        display: table-cell;
        float: none;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

/* END: Bootstrap columns of same height */

/* BEGIN: OAuth buttons */

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: #fff;
    background-color: #294786;
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border: 1px solid #d54331;
}

.btn-google:hover,
.btn-google:focus {
    color: #fff;
    background-color: #cb3927;
}

/* END: OAuth buttons */

.same-height-col {
    display: table;
}

.same-height-col[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

/* For angular-ui-datetime-picker-popup to show the popup more pretty */
.datetime-picker div > table .btn-default {
    border: 0;
}

.spacer {
    width: 10px;
}