@import "tables.small.less";

.auto-width-column() {
  white-space: normal;
  width: 50%;
}

.min-size-column() {
  white-space: nowrap;
  width: 0%;
}

.row-commands {

  [class*='command-'] ~ [class*='dropdown'],
  [class*='command-'] ~ [class*='command-'] {
    margin-left: 4px;
  }

  .dropdown {
    display: inline-block;
    background: none;
  }

  .min-size-column();
}

#admin-activity-types {
  @media (min-width: 600px) {
    tbody {
      td {
        .min-size-column();
      }
      .activity-type-name, .activity-type-description {
        .auto-width-column();
      }
    }
  }

  @media (max-width: 600px) {

    tbody {

      tr {

        .activity-type-tag {
          display: inline-block;
          border-top: 5px solid #f0f0f0;
          order: 1;
        }
        .activity-type-name {
          display: inline-block;
          border-top: 5px solid #f0f0f0;
          order: 2;
          flex: 1;
        }

        .activity-type-price {
          &:before {
            display: block;
            content: "Price:";
          }
          display: block;
          order: 3;
          flex: 1 100%;
        }
      }
    }
  }
}

#admin-activities-table {

  @media (min-width: 600px) {
    tbody {
      td {
        .min-size-column();
      }
      .activity-type, .activity-location {
        .auto-width-column();
      }
    }
  }

  @media (max-width: 600px) {

    tbody {

      tr {

        .activity-type {

          border-top: 5px solid #f0f0f0;

          display: block;
          flex: 1 100%;
        }

        .activity-subscription-info {
          display: block;
          flex-grow: 1;
          font-size: smaller;
          &:before {
            display: block;
            content: "Subscriptions:";
          }
        }

        .activity-start {
          display: block;
          flex-grow: 1;
          font-size: smaller;
          &:before {
            display: block;
            content: "Start:";
          }
        }

        .activity-finish {
          display: block;
          flex-grow: 1;
          font-size: smaller;
          &:before {
            display: block;
            content: "Finish:";
          }
        }

        .subscribers-actions {
          display: block;
          flex: 1 100%;
          font-size: smaller;
        }
      }
    }
  }
}

#admin-activity-packages-table {
  thead {
    th {
      white-space: nowrap;
    }
  }
  tbody {
    td:not(.row-commands) {
      white-space: nowrap;
      width: 20%;
    }
    td.package-name {
      .auto-width-column();
    }
  }
}

#admin-organizations {

  @media (min-width: 600px) {
    tbody {
      td:not(.row-commands) {
        white-space: nowrap;
        width: 20%;
      }
      td.created, td.modified {
        .min-size-column();
      }
      td.description {
        .auto-width-column();
      }
    }
  }

  @media (max-width: 600px) {

    tbody {

      tr {

        // - make .name cell take whole row
        .name {

          border-top: 5px solid #f0f0f0;

          display: block;
          flex: 1 100%;

          &:before {
            content: "Name: ";
          }
        }

        // - make .created & .modified share row
        .created {
          display: block;
          flex: 1 auto;
          font-size: smaller;
          &:before {
            display: block;
            content: "Created:";
          }
        }

        .modified {
          display: block;
          flex: 1 auto;
          font-size: smaller;
          &:before {
            display: block;
            content: "Modified:";
          }
        }
      }
    }
  }
}

#users-list {
  tbody {
    td:not(.row-commands) {
      white-space: nowrap;
      width: 33%;
    }

    td.created {
      .min-size-column();
    }
  }
}