@import (reference) "bootstrap.less";

/* BEGIN: OAuth buttons */

.container:not(.home-splash) md-content {
  overflow-y: scroll;
}

body {
  padding: 0 !important;
  margin: 0 !important;

  #content {
    background-color: inherit;
    padding-right: 15px;
  }
}

.main-content > .container {
  padding-right: 0;
}

.home-splash {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: none;
  background-image: url(http://d3nn82uaxijpm6.cloudfront.net/assets/website/backgrounds/unlock_your_potential-run-2ec3ce8df18718b9c5a6f1eb1c36696f.jpg)
}

@facebookBgColor: #3b5998;
@googleBgColor: #dd4b39;

@angularMaterialLayoutSm: 600px;

.actions-group {

  @media (min-width: @angularMaterialLayoutSm) {
    > button ~ button {
      margin-left: 10px;
    }
  }
}

.card-header {
  .actions-group {

    float: right;

    @media (max-width: @angularMaterialLayoutSm) {
      float: none;
      margin-bottom: 2em;
    }

  }
}

.actions-group + .form-group {
  margin-top: 20px;
}

@media (max-width: @angularMaterialLayoutSm) {
  .grow-on-small, .actions-group > button {
    .btn-block();
  }

  .actions-group > button ~ button {
    margin-top: 5px;
  }
}

td.actions-column {
  padding: 0 !important;
  vertical-align: middle !important;;
}

.tab-pane {
  form {
    margin-top: 25px;
  }
}

#authenticate-dialog {

  .sign-in {
    text-align: center;
    margin-top: 2rem;
  }

  .btn-sign-in {
    margin-left: 1rem;
  }
}

#create-account-service-or-email {
  .btn {
    margin: 1rem 0;
  }
  .btn-with-email {
    margin-top: 2rem;
  }
}

.btn.btn-default.btn-facebook {
  background-color: @facebookBgColor;
  color: white;

  &:hover {
    color: white;
  }
}

.btn.btn-default.btn-google {
  background-color: @googleBgColor;
  color: white;

  &:hover {
    color: white;
  }
}

.has-feedback label.fg-label ~ .form-control-feedback {
  top: 0;
}

.fg-label {
  z-index: 1 !important;
}

.bootgrid-header {

  .actions.btn-group {
    .checkbox {
      display: inline-block;
      float: left;
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }

  .input-group-btn .actions .btn-group {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }

  @media (min-width: 480px) {
    .search {
      width: 100%;
    }
  }
}

.card-header {
  .back-button {
    position: relative;
    top: -10px;
    float: left;
    button {
      margin-right: 10px;
    }
  }
}

.select-cell {
  width: 30px;
}

.activity-name {
  width: 100%;
}

.btn-float.btn-float-text {
  border-radius: 0;
  width: auto;
}

.card .card-header.card-header-with-icon {
  padding-bottom: 26px;
}

.card-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .md {
    padding-right: 10px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .activity-listview {
    .lv-title {
      display: inline;
      margin-right: 10px;
    }

    .lv-attrs {
      display: inline;
    }
  }
}

.selectable-lv-item {
  .media-body {
    cursor: pointer;
  }
}

.lv-item.active {
  background-color: #fffcbe;
}

@media (max-width: @angularMaterialLayoutSm) {
  md-sidenav {
    width: 204px;
    min-width: 204px;
  }

  #sidebar .main-menu > li.sub-menu > ul > li > a {
    padding-left: 30px;
  }

  .tab-nav > li {
    display: block;
  }
}

#activity-selection-lists {

  @media (max-width: @angularMaterialLayoutSm) {
    .md-subheader {
      * {
        font-size: 12px;
        line-height: 1.1;
      }
    }

    md-list {
      margin-left: -10px;
      margin-right: -10px;
    }

    .md-list-item-text {
      * {
        font-size: smaller;
      }
    }
  }
}

.sweet-alert {
  .lead.text-muted {
    margin-top: 25px;
  }
}

/* PAYPAL */

@media (max-width: @angularMaterialLayoutSm) {
  .paypal-logo {
    width: 100%;
  }
}

.btn-group {
  .btn.btn-default.active {
    .btn-primary();
  }
}

.input-group-addon.text {
  vertical-align: middle;
}

.control-label.text-left {
  text-align: left !important;
}

@media (min-width: @angularMaterialLayoutSm) {
  .time-date-pair {
    > div {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: @angularMaterialLayoutSm) {
  .time-date-pair {
    > div {
      padding: 0;
    }
  }
}

@media (max-width: @angularMaterialLayoutSm) {
  .radio.radio-inline {
    margin-left: 0;
  }
}

.radio-addon {
  margin-right: 10px;
}

.form-horizontal .has-feedback[flex] i.form-control-feedback {
  right: 0;
}

.card .card-header [wizard-trigger].btn-float {
  @media (max-width: @angularMaterialLayoutSm) {
    font-size: smaller;
    padding-top: 0;
    padding-bottom: 0;
  }

  position: relative;
  bottom: 0;
  right: 0;

  &:last-of-type {
    margin-right: 10px;
  }
}

@media (max-width: @angularMaterialLayoutSm) {
  .label {
    display: inline-block;
    white-space: normal;
  }
}

.fw-nav {
  li:not(.active) {
    .badge {
      background-color: lighten(@link-color, 33%);
    }
  }

  @media (max-width: @angularMaterialLayoutSm) {
    .badge {
      float: left;
    }
  }
}

.lv-header-alt {
  .checkbox {
    margin-left: 13px;
  }
}

.card .row .card-header {
  padding-right: 0;
}

.btn.btn-icon.btn-primary.command-edit:not(:hover) .mdi,
.btn.btn-icon.btn-danger.command-delete:not(:hover) .mdi {
  color: rgb(94, 94, 94);
}

.btn.btn-icon.btn-primary.command-edit:focus .mdi,
.btn.btn-icon.btn-danger.command-delete:focus .mdi {
  color: white;
}

@import 'tables';
