@import (reference) "bootstrap.less";

@facebookBgColor: #3b5998;
@googleBgColor: #dd4b39;
@angularMaterialLayoutSm: 600px;

@import "inline-images";
@import 'tables';

.jas-visible-xs {
  @media (min-width: @angularMaterialLayoutSm) {
    display: none !important;
  }
}

.hi-message {
  word-break: break-all;
  width: 80%;
  margin: auto;
  text-align: center;
}

/* BEGIN: OAuth buttons */

#create-new {
  position: fixed;
  bottom: 120px;
  z-index: 1;
  right: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  .jas-visible-xs;
}

.container:not(.home-splash) md-content {
  overflow-y: scroll;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;

  #content {
    background-color: inherit;
    padding: 15px 10px 10px 10px !important;

    .container-fluid {
      padding: 0;
      margin: 0;
    }
  }
}

.home-splash {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: none;
  background-image: url(http://d3nn82uaxijpm6.cloudfront.net/assets/website/backgrounds/unlock_your_potential-run-2ec3ce8df18718b9c5a6f1eb1c36696f.jpg)
}

.actions-group {

  @media (min-width: @angularMaterialLayoutSm) {
    > button ~ button {
      margin-left: 10px;
    }
  }
}

.card-header {
  .actions-group {

    float: right;

    @media (max-width: @angularMaterialLayoutSm) {
      float: none;
      margin-bottom: 2em;
    }

  }
}

.actions-group + .form-group {
  margin-top: 20px;
}

@media (max-width: @angularMaterialLayoutSm) {
  .grow-on-small, .actions-group > button {
    .btn-block();
  }

  .actions-group > button ~ button {
    margin-top: 5px;
  }
}

td.actions-column {
  padding: 0 !important;
  vertical-align: middle !important;;
}

.tab-pane {
  form {
    margin-top: 25px;
  }
}

#authenticate-dialog {

  .sign-in {
    text-align: center;
    margin-top: 2rem;
  }

  .btn-sign-in {
    margin-left: 1rem;
  }
}

#create-account-service-or-email {
  .btn {
    margin: 1rem 0;
  }
  .btn-with-email {
    margin-top: 2rem;
  }
}

.btn.btn-default.btn-facebook {
  background-color: @facebookBgColor;
  color: white;

  &:hover {
    color: white;
  }
}

.btn.btn-default.btn-google {
  background-color: @googleBgColor;
  color: white;

  &:hover {
    color: white;
  }
}

.has-feedback label.fg-label ~ .form-control-feedback {
  top: 0;
}

.fg-label {
  z-index: 1 !important;
}

.bootgrid-header {

  .actions.btn-group {
    .checkbox {
      display: inline-block;
      float: left;
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }

  .input-group-btn .actions .btn-group {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }

  @media (min-width: 480px) {
    .search {
      width: 100%;
    }
  }
}

.card-header {
  .back-button {
    position: relative;
    top: -10px;
    float: left;
    button {
      margin-right: 10px;
    }
  }
}

.select-cell {
  width: 30px;
}

.activity-name {
  width: 100%;
}

.card-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .md {
    padding-right: 10px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .activity-listview {
    .lv-title {
      display: inline;
      margin-right: 10px;
    }

    .lv-attrs {
      display: inline;
    }
  }
}

.tvb-stats {
  li {
    font-size: 12px;
  }
}

.activity-listview.for-activity-package {
  .lv-header-alt {
    background-color: darken(#f8f8f8, 10%);
  }

  .lv-body {
    margin: 3px 5px;
  }
}

.tv-header {
  &.active {
    background-color: #fffcbe;
  }
  cursor: pointer;
}

@media (max-width: @angularMaterialLayoutSm) {
  md-sidenav {
    width: 204px;
    min-width: 204px;
  }

  #sidebar .main-menu > li.sub-menu > ul > li > a {
    padding-left: 30px;
  }

  .tab-nav > li {
    display: block;
  }
}

#activity-selection-lists {

  @media (max-width: @angularMaterialLayoutSm) {
    .md-subheader {
      * {
        font-size: 12px;
        line-height: 1.1;
      }
    }

    md-list {
      margin-left: -10px;
      margin-right: -10px;
    }

    .md-list-item-text {
      * {
        font-size: smaller;
      }
    }
  }
}

.sweet-alert {
  .lead.text-muted {
    margin-top: 25px;
  }
}

/* PAYPAL */

@media (max-width: @angularMaterialLayoutSm) {
  .paypal-logo {
    width: 100%;
  }
}

.btn-group {
  .btn.btn-default.active {
    .btn-primary();
  }
}

.input-group-addon.text {
  vertical-align: middle;
}

.control-label.text-left {
  text-align: left !important;
}

@media (min-width: @angularMaterialLayoutSm) {
  .time-date-pair {
    > div {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: @angularMaterialLayoutSm) {
  .time-date-pair {
    > div {
      padding: 0;
    }
  }
}

@media (max-width: @angularMaterialLayoutSm) {
  .radio.radio-inline {
    margin-left: 0;
  }
}

.radio-addon {
  margin-right: 10px;
}

.form-horizontal .has-feedback[flex] i.form-control-feedback {
  right: 0;
}

#wizard {
  .card .card-header {

    padding-bottom: 5px;
    .clearfix;

    .pull-left[wizard-trigger],
    .pull-right[wizard-trigger] {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .pull-left[wizard-trigger] + .pull-left[wizard-trigger],
    .pull-right[wizard-trigger] + .pull-right[wizard-trigger] {
      clear: both;
    }
  }
}

@media (max-width: @angularMaterialLayoutSm) {
  .label {
    display: inline-block;
    white-space: normal;
  }
}

.fw-nav {
  li:not(.active) {
    .badge {
      background-color: lighten(@link-color, 33%);
    }
  }

  @media (max-width: @angularMaterialLayoutSm) {
    .badge {
      float: left;
    }
  }
}

.lv-header-alt {
  .checkbox {
    margin-left: 13px;
  }
}

.card .row .card-header {
  padding-right: 0;
}

.btn.btn-icon.btn-primary.command-edit:not(:hover) .mdi,
.btn.btn-icon.btn-danger.command-delete:not(:hover) .mdi {
  color: rgb(94, 94, 94);
}

.btn.btn-icon.btn-primary.command-edit:focus .mdi,
.btn.btn-icon.btn-danger.command-delete:focus .mdi {
  color: white;
}

.help-label {
  border-bottom: 1px dotted #000000;
}

.jasify-logotype {
  line-height: 40px;
  text-indent: 15px;
  color: rgba(255, 255, 255, 0.87);
}

.jasify-logo md-icon {
  height: 40px;
  margin: 0;
  width: 40px;
}

.md-whiteframe-glow-z2 {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 0 4px 3px rgba(0, 0, 0, 0.14), 0px 0px 8px 1px rgba(0, 0, 0, 0.12);
}

[jas-progress] {
  position: absolute;
  top: 5px;
  right: 10px;
  left: 10px;
  width: auto;
}

/* Colour picker */

.cp-container {
  position: relative;

  & > .input-group {

    input.cp-value {
      color: #000 !important;
      background: transparent !important;
    }

    .dropdown-menu {
      padding: 20px;
      margin-left: 10px;
    }
  }

  i.cp-value {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 15px;
  }
}

.tag-preview {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 2px;
}